/* http://meyerweb.com/eric/tools/css/reset/  - v2.0 | 20110126 - License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {display: block;}
body {line-height: 1; height: 100%; overflow-y: scroll;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
table {border-collapse: collapse; border-spacing: 0;}
* {box-sizing: content-box;}

html, body {font-style: normal; font-size: 12px; font-family: 'Sukhumvit', Helvetica, Arial, Tahoma, serif; color: #cccccc;}
img, a img, a, a:hover, a:visited, a:active, a:link {border: none; text-decoration: none;}
a {line-height: 28px; color: #cccccc;}
a:hover, a.active {color: #ffffff;}
input, textarea, button, select {outline: 0; font-family: 'Sukhumvit', Helvetica, Arial, Tahoma, serif;}
button {border: none; cursor: pointer;}
.clear {clear: both;}

body {background: /*url("../images/bg-body.png") top repeat-x*/ #f8d8a0; color: #cccccc; text-shadow: 1px 1px 1px #000000;}
.bg-sports1 {background: url("../images/bg-sports1b.png") top center #f8d8a0 no-repeat;}
.bg-sports2 {background: url("../images/bg-sports2.png") top center #f8d8a0 no-repeat;}
.bg-sports3 {background: url("../images/bg-sports3.png") top center #f8d8a0 no-repeat;}
.bg-sports4 {background: url("../images/bg-sports4.png") top center #f8d8a0 no-repeat;}
.bg-slots {background: url("../images/bg-slots.png") top center #000000 no-repeat;}
.bg-signup {background: url("../images/bg-signup.png") top center #f8d8a0 no-repeat;}
.whole-wrapper {width: 100%;}

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}

.float-left {float: left;}
.float-right {float: right;}

/*Placeholder*/
input::-webkit-input-placeholder {color: #ffffff;}
input:-moz-placeholder {color: #ffffff;}
input::-moz-placeholder {color: #ffffff;}
input:-ms-input-placeholder {color: #ffffff;}

select::-webkit-input-placeholder {color: #ffffff;}
select:-moz-placeholder {color: #ffffff;}
select::-moz-placeholder {color: #ffffff;}
select:-ms-input-placeholder {color: #ffffff;}

select.not_chosen {color: #ffffff;}
select option {color: #ffffff;}
select option:first-child {color: #ffffff;}

textarea::-webkit-input-placeholder {color: #ffffff;}
textarea:-moz-placeholder {color: #ffffff;}
textarea::-moz-placeholder {color: #ffffff;}
textarea:-ms-input-placeholder {color: #ffffff;}

/*Preloader*/
#preloader {position:fixed;	top:0; left:0; right:0; bottom:0; background: rgba(0,0,0,0.8); z-index:9999999999; opacity: 10;}
#status {z-index:9999999999; background: #000; padding: 10px; border-radius: 10px; position:absolute; left:50%; top:50%; margin: -55px 0 0 0;}

.wrapper {position: relative; z-index: 9 !important; margin: 0 auto; padding: 0;}
.container {width: 1034px; margin: 0 auto;}
.container-sports {width: 1046px !important;}

.header-container {width: 100%; min-width: 1034px; height: 102px; position: relative; top: 0; z-index: 99999; background: url("../images/bg-header.png") top repeat-x;}
.header-top {height: 35px; background: url("../images/header-separator.png") right repeat-y;}
.jackpot {float: left; cursor: pointer;}
.jackpot p {display: inline-block; float: left; line-height: 31px; font-size: 18px; color: #e3b571;}
.title-jackpot {width: 135px; height: 35px; background: url("../images/title-jackpot.png") 0 5px no-repeat;}
.jackpot:hover .title-jackpot {background-position: 0 -23px;}
.super-jackpot {width: 134px; height: 29px; margin-right: 6px; overflow: hidden; position: relative;}

.login-container {float: right; line-height: 32px; position: relative;}
.login-container input[type=text], .login-container input[type=password] {width: 118px; height: 20px; line-height: 20px; font-size: 12px; padding: 0 4px; background: #000000; border: 1px solid #555555; color: #cd9d3b;}
.login-container input[type=text]:focus, input[type=password]:focus {border-color: #6d6d6d;}
.login-container button {font-size: 11px;}
.login-container p, .lang-option {display: inline-block; margin-left: 6px; vertical-align: middle;}

.login-container input::-webkit-input-placeholder {color: #cd9d3b;}
.login-container input:-moz-placeholder {color: #cd9d3b;}
.login-container input::-moz-placeholder {color: #cd9d3b;}
.login-container input:-ms-input-placeholder {color: #cd9d3b;}

#login-form {display: inline-block;}
#user, .txtAmount {display: inline-block;}
#user strong {color: #ffffff;}
.txtLoading, .txtAmount {color: #e3b571 !important; margin-right: 4px;}
.box-bal {line-height: 21px; padding: 0 8px; width: 120px; font-size: 13px; text-align: center; background: #000000; border: 1px solid #555555;}

/*Language Options*/
.lang-option {width: 55px; height: 33px; background: url("../images/header-separator.png") left repeat-y;}
#lang-active {display: block; width: 46px; height: 21px; padding: 6px; cursor: pointer;}
.lang-active-selected, .lang-active-selected:hover {background: #000000 !important;}
#lang-active:hover {background: rgba(255,255,255,0.08);}
.rotate-triangle2 {display: inline-block; float: right; width: 10px; height: 5px; margin: 9px 2px 0 0; background: url("../images/lang-arrow.png") no-repeat; -moz-transition:all 0.4s ease 0s; -webkit-transition:all 0.4s ease 0s; transition:all 0.4s ease 0s;}
.rotate-triangle2-selected {background: url("../images/lang-arrow2.png") no-repeat !important;}

#lang-list {display: none; position: absolute; z-index: 99; width: 87px; right: 0; margin-top: 1px; -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.75); -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,0.75); box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);}
#lang-list li {line-height: 24px; padding: 6px 8px 6px 2px; cursor: pointer; background: #000; text-shadow: none;}
#lang-list li:hover, #lang-list li.active {background: #e95f3a; color: #ffffff;}
.icon-lang {width: 24px; height: 24px; margin: 0 5px 0 3px; display: inline-block; float: left;}
.icon-thai {background: url("../images/lang/icon-thai.png") no-repeat;}
.icon-eng {background: url("../images/lang/icon-english.png") no-repeat;}
.icon-chi {background: url("../images/lang/icon-chinese.png") no-repeat;}

.header-bottom {height: 65px; background: url("../images/header-separator.png") right repeat-y;}
.logo {display: inline-block; width: 206px; height: 65px; background: url("../images/logo-uefa168.png") center center no-repeat; cursor: pointer;}
.logo img {line-height: 65px;}

.line-separator {display: inline-block; width: 2px; height: 100%; background: url("../images/header-separator.png") left repeat-y;}

/*Buttons*/
.btn,.btn:visited{
    display: inline-block; background: #222 url("../images/button-overlay.png") repeat-x; padding: 3px 10px; color: #fff; text-decoration: none; position: relative; cursor: pointer;
    border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5); -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5); text-shadow: 0 -1px 1px rgba(0,0,0,0.25); border-bottom: 1px solid rgba(0,0,0,0.25);
}
.btn:hover {background-color:#111;color:#fff;}
.btn:active {top:1px;}
.btn:disabled {background-color: #b5b5b5 !important;}

.small.btn, .small.btn:visited {font-size: 11px;}
.btn,.btn:visited,.medium.btn, .medium.btn:visited {font-size: 13px; font-weight: bold; line-height: 14px; text-shadow: 0 -1px 1px rgba(0,0,0,0.25);}
.large.btn, .large.btn:visited {font-size: 14px; padding:8px 14px 9px;}

.btn-orange.btn, .btn-orange.btn:visited {background-color: #d13d14;}
.btn-orange.btn:hover {background-color: #e75229;}

.btn-gold.btn, .btn-gold.btn:visited {background-color: #d27819;}
.btn-gold.btn:hover {background-color: #d5832b;}

.btn-lightgray.btn, .btn-lightgray.btn:visited {background-color: #888888;}
.btn-lightgray.btn:hover {background-color: #949494;}

.btn-green.btn, .btn-green.btn:visited {background-color: #5a8f47 !important;}
.btn-green.btn:hover {background-color: #659b52 !important;}

.btn-default.btn, .btn-default.btn:visited, .btn-gray.btn, .btn-gray.btn:visited {background-color: #333333;}
.btn-default:hover, .btn-gray.btn:hover {background-color: #444444;}
.btn-refresh {background: #000000; color: #687084; border: 1px solid #393f4f; box-shadow: none; font-size: 11px; text-transform: uppercase;}
.btn-refresh:hover {color: #949db1; border-color: #586076;}

.my-wallet .btn-refresh {background: #000000; color: #687084; border: 1px solid #393f4f; box-shadow: none; font-size: 11px; text-transform: uppercase;}
.my-wallet .btn-refresh:hover {color: #949db1; border-color: #586076;}

/*Navigation*/
#nav {display: inline-block; float: right; height: 65px; font-size: 14px; font-weight: 600; background: url("../images/header-separator.png") right repeat-y;}
/*#nav li {display: inline-block; float: left; height: 65px; line-height: 65px; text-align: center;}*/

#nav {margin: 0 auto;}
#nav a {/*color: #bebebe;*/}
#nav a:hover {/*color: #333;*/}

#nav .nav-items {position:relative;}
#nav .nav-items li {width: auto; height: 65px; line-height: 65px; padding: 0 14px; text-align: center; font-size: 14px; cursor: pointer; float: left; display: inline-block; position: relative; background: url("../images/header-separator.png") left repeat-y;}
#nav .nav-items li:hover, #nav .nav-items li.active {-webkit-box-shadow: inset 2px 11px 40px -6px rgba(0,0,0,0.75); -moz-box-shadow: inset 2px 11px 40px -6px rgba(0,0,0,0.75); box-shadow: inset 2px 11px 40px -6px rgba(0,0,0,0.75);}
#nav .nav-items a {display: block;}

#nav .nav-items .over {background: #202020; -webkit-box-shadow: inset 2px 11px 40px -6px rgba(0,0,0,0.75); -moz-box-shadow: inset 2px 11px 40px -6px rgba(0,0,0,0.75); box-shadow: inset 2px 11px 40px -6px rgba(0,0,0,0.75); z-index: 2;}
#nav .nav-items .over a {}

#nav .rotate-triangle {display: inline-block; width: 14px; height: 8px; right: 11px; top: 29px; position: absolute; background: url("../images/icon_triangle.png") no-repeat; -moz-transition:all 0.4s ease 0s; -webkit-transition:all 0.4s ease 0s; transition:all 0.4s ease 0s;}
#nav .nav-items .over .rotate-triangle {-moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg);}

#nav .nav-items .txt {display: inline-block; line-height: 65px; float: left;}
#nav .nav-items .txt-nav {display: block; width: 60px; font-size: 12px; line-height: 20px;}

.item_mobile {width: 41px !important;}
.item_sports, .item_casino, .item_slots, .item_othergames {width: 110px !important; padding: 0 0 0 4px !important;}
.item_sports .txt, .item_casino .txt, .item_slots .txt, .item_othergames .txt {width: 80px;}
.item_othergames {display: none !important;}

#nav .nav-items li.item:hover {background-color: rgba(255,255,255,0.08); -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; transition: all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s;}
#nav .nav-items li.item:hover .txt-nav {color: #ffffff; transition: all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s;}
.icon-nav {display: block; width: 60px; height: 33px; line-height: 33px; margin-top: 5px;}
.icon-promo {background: url("../images/icon-promo.png") center center no-repeat;}
.icon-deposit {background: url("../images/icon-deposit.png") center center no-repeat;}
.icon-withdraw {background: url("../images/icon-withdraw.png") center center no-repeat;}
.icon-customer {background: url("../images/icon-customer.png") center center no-repeat;}

.icon-mobile {display: inline-block; width: 22px; height: 65px; background: url("../images/icon-mobile.png") center center no-repeat;}

/*Navigation Hover Contents*/
.nav_hover_wrapper {width: 100%; min-width: 970px; height: 0; position: absolute; top: 101px; left: 0; z-index: 999; background: url("../images/bg-nav-dropdown.png") top repeat-x #202020; -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,1); -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,1); box-shadow: 0 2px 5px 0 rgba(0,0,0,1); overflow: hidden;}
.nav_hover_container {width: 970px; height: 100%; margin: 0 auto; opacity: 0; position: relative;}

.nav_hover_container h2 {display: block; margin-top: 100px; font-size: 22px; font-size: 20px\9; font-weight: 600; color: #c4a25e; letter-spacing: -1px; text-align: center; text-shadow: -2px 0 6px rgba(0,0,0,1);}
.nav_hover_container .btn {display: block; width: 100px; margin: 6px auto 0 auto; padding: 5px 10px;}
.nav_hover_container li:hover .btn {background-color: #e75229;}

/*Game Buttons - Mobile*/
.gamebutton-mobile {display: inline-block; float: left; height: 173px; background: url("../images/gamebuttons-mobile.png") no-repeat; cursor: pointer;
    transition: background 0.8s; -moz-transition: background 0.8s; -webkit-transition: background 0.8s; -o-transition: background 0.8s;}
.gamebutton-mobile1 {width: 970px; background-position: 0 0;}
/*.gamebutton-mobile2 {width: 242px; background-position: -243px 0;}
.gamebutton-mobile3 {width: 243px; background-position: -485px 0;}
.gamebutton-mobile4 {width: 242px; background-position: -728px 0;}*/

.gamebutton-mobile1:hover {background: url("../images/gamebuttons-mobile.png") no-repeat;}
/*.gamebutton-mobile1:hover {background-position: 0 0;}
.gamebutton-mobile2:hover {background-position: -243px 0;}
.gamebutton-mobile3:hover {background-position: -485px 0;}
.gamebutton-mobile4:hover {background-position: -728px 0;}*/

.gamebutton-mobile h2 {margin-left: 270px; margin-top: 80px !important;}

/*Game Buttons - Sports*/
.gamebutton-sports {display: inline-block; float: left; height: 173px; background: url("../images/gamebuttons-sports.png") no-repeat; cursor: pointer;
    transition: background 0.8s; -moz-transition: background 0.8s; -webkit-transition: background 0.8s; -o-transition: background 0.8s;}
.gamebutton-sports1, .gamebutton-sports1-default {width: 243px; background-position: 0 0;}
.gamebutton-sports2, .gamebutton-sports2-default {width: 242px; background-position: -243px 0;}
.gamebutton-sports3, .gamebutton-sports3-default {width: 243px; background-position: -485px 0;}
.gamebutton-sports4, .gamebutton-sports4-default {width: 242px; background-position: -728px 0;}

.gamebutton-sports:hover {background: url("../images/gamebuttons-sports-hover.png") no-repeat;}
.gamebutton-sports1:hover, .gamebutton-sports1-default:hover {background-position: 0 0;}
.gamebutton-sports2:hover, .gamebutton-sports2-default:hover {background-position: -243px 0;}
.gamebutton-sports3:hover, .gamebutton-sports3-default:hover {background-position: -485px 0;}
.gamebutton-sports4:hover, .gamebutton-sports4-default:hover {background-position: -728px 0;}

/*Game Buttons - Live Casino*/
.gamebutton-casino {display: inline-block; float: left; width: 194px; height: 173px; background: url("../images/gamebuttons-casino.png") no-repeat; cursor: pointer;
    transition: background 0.8s; -moz-transition: background 0.8s; -webkit-transition: background 0.8s; -o-transition: background 0.8s;}
.gamebutton-casino1 {background-position: 0 0;}
.gamebutton-casino2 {background-position: -194px 0;}
.gamebutton-casino3 {background-position: -388px 0;}
.gamebutton-casino4 {background-position: -582px 0;}
.gamebutton-casino5 {background-position: -776px 0;}

.gamebutton-casino:hover {background: url("../images/gamebuttons-casino-hover.png") no-repeat;}
.gamebutton-casino1:hover {background-position: 0 0;}
.gamebutton-casino2:hover {background-position: -194px 0;}
.gamebutton-casino3:hover {background-position: -388px 0;}
.gamebutton-casino4:hover {background-position: -582px 0;}
.gamebutton-casino5:hover {background-position: -776px 0;}

/*Game Buttons - Slots*/
.gamebutton-slots {display: inline-block; float: left; height: 173px; background: url("../images/gamebuttons-slots.png") no-repeat; cursor: pointer;
    transition: background 0.8s; -moz-transition: background 0.8s; -webkit-transition: background 0.8s; -o-transition: background 0.8s;}
.gamebutton-slots1 {width: 243px; background-position: 0 0;}
.gamebutton-slots2 {width: 242px; background-position: -243px 0;}
.gamebutton-slots3 {width: 243px; background-position: -485px 0;}
.gamebutton-slots4 {width: 242px; background-position: -728px 0;}

.gamebutton-slots:hover {background: url("../images/gamebuttons-slots-hover.png") no-repeat;}
.gamebutton-slots1:hover {background-position: 0 0;}
.gamebutton-slots2:hover {background-position: -243px 0;}
.gamebutton-slots3:hover {background-position: -485px 0;}
.gamebutton-slots4:hover {background-position: -728px 0;}

.gamebutton-slots h3 {font-size: 16px; text-align: center; color: #ffffff; background: #000000; line-height: 30px; height: 30px;}
.gamebutton-slots h3 span {color: #e6c189;}

.gamebutton-slots h3 + h2 {margin-top: 70px !important;}

/*Game Buttons - Other Games*/
.gamebutton-othergames {display: inline-block; float: left; height: 173px; background: url("../images/gamebuttons-othergames.png") no-repeat; cursor: pointer;
    transition: background 0.8s; -moz-transition: background 0.8s; -webkit-transition: background 0.8s; -o-transition: background 0.8s;}
.gamebutton-othergames1 {width: 323px; background-position: 0 0;}
.gamebutton-othergames2 {width: 323px; background-position: -323px 0;}
.gamebutton-othergames3 {width: 324px; background-position: -646px 0;}

.gamebutton-othergames:hover {background: url("../images/gamebuttons-othergames-hover.png") no-repeat;}
.gamebutton-othergames1:hover {background-position: 0 0;}
.gamebutton-othergames2:hover {background-position: -323px 0;}
.gamebutton-othergames3:hover {background-position: -646px 0;}

/*Panels*/
#customer-panel {opacity: 0; background-color: #000000; color: #fff; z-index: 9999; border-left: 4px solid #cc9966; -webkit-box-shadow: -3px 0 5px 0 rgba(0,0,0,0.55); -moz-box-shadow: -3px 0 5px 0 rgba(0,0,0,0.55); box-shadow: -3px 0 5px 0 rgba(0,0,0,0.55);}
#customer-panel .customer-panel-handle {background: url("../images/panel-handle-bg.png") top right no-repeat; left: -34px; position: absolute; top: 45%; margin-top: -62px; width: 34px; height: 137px; cursor: pointer;}
#customer-panel .customer-panel-handle:hover {background-position: bottom right;}
.customer-panel-handle .customer-panel-arrow-left, .customer-panel-handle .wallet-panel-arrow-right {margin-left: 9px !important;}

#wallet-panel {opacity: 0; background-color: #000000; color: #fff; z-index: 9999; border-right: 4px solid #cc9966; -webkit-box-shadow: 3px 0 5px 0 rgba(0,0,0,0.55); -moz-box-shadow: 3px 0 5px 0 rgba(0,0,0,0.55); box-shadow: 3px 0 5px 0 rgba(0,0,0,0.55);}
#wallet-panel .wallet-panel-handle {background: url("../images/panel-handle-bg.png") top left no-repeat; right: -34px; position: absolute; top: 45%; margin-top: -62px; width: 34px; height: 137px; cursor: pointer;}
#wallet-panel .wallet-panel-handle:hover {background-position: bottom left;}

@media (min-width: 1920px) {
    #customer-panel {right: 0 !important;}
    #wallet-panel {left: 0 !important;}
    .customer-panel-handle, .wallet-panel-handle {display: none !important;}
}

.customer-panel-arrow-left {width: 24px; height: 133px; background: url("../images/panel-arrow-left.png") center center no-repeat;}
.wallet-panel-arrow-right {width: 24px; height: 133px; background: url("../images/panel-arrow-right.png") center center no-repeat;}

/*Customer Service Panel*/
.panel-customer {padding: 102px 0 0 0; color: #999999; text-shadow: none; text-transform: uppercase;}
.panel-customer h1 {font-size: 16px; line-height: 30px; text-align: center; color: #858585; font-weight: 600; text-shadow: 1px 1px 1px #000000; border-bottom: 1px solid #2a2a2a;}
.panel-customer p {text-align: center; margin: 12px 0;}
.panel-customer button {text-transform: uppercase; line-height: 22px; width: 154px; margin: 0 auto !important; float: none; display: block;}

.btn-livechat {width: 162px; margin: 12px auto; border-radius: 6px; background: url("../images/icon-livechat.png") 94px 7px #333333 no-repeat; padding: 12px 0 12px 14px; text-transform: uppercase; cursor: pointer;}
/*.btn-livechat:hover, .customer-details div:hover {background-color: #3c3c3c;}*/
.btn-livechat strong {display: block; color: #e4bb76; font-size: 14px; font-weight: 600;}
/*.btn-livechat:hover, .customer-details div:hover {color: #cacaca;}
.btn-livechat:hover strong {color: #f8d08c;}*/

.customer-details {width: 176px; margin: 0 auto;}
.customer-details div {display: block; border-radius: 6px; background: url("../images/icon-customerservice.png") #333333 no-repeat; padding: 7px 8px 7px 47px; margin: 5px 0; text-align: left; line-height: 14px;}
.customer-details div strong {display: block; color: #e4bb76; line-height: 18px;}
.customer-details div strong a {color: #e4bb76; line-height: normal;}
/*.customer-details div:hover strong, .customer-details div strong a:hover {color: #f8d08c;}*/

.customer-icon-hotline {background-position: 0 0;}
.customer-icon-lineID {background-position: 0 -46px !important;}
.customer-icon-skypeID {background-position: 0 -92px !important;}
.customer-icon-wechatID {background-position: 0 -138px !important;}
.customer-icon-email {background-position: 0 -184px !important;}

.panel-promos ul {margin: 5px;}
.panel-promos li {border: 1px solid #333333; width: 208px; height: 171px; cursor: pointer; margin: 0 0 6px 0;}
.panel-promos li:hover {border: 1px solid #e7c05e;}

/*Wallet Panel*/
.my-wallet {float: left; width: 220px; padding: 102px 0 0 0;}
.my-wallet h1 {font-size: 16px; line-height: 30px; text-align: center; color: #858585; font-weight: 600; text-shadow: 1px 1px 1px #000000; border-bottom: 1px solid #000000;}
.itemWallet {display: block; clear: both; line-height: 25px; color: #ffffff; padding: 0 8px 0 10px; border-top: 1px solid #2a2a2a; border-bottom: 1px solid #000000;}
/*.itemWallet:hover {background-color: #171717;}*/
.itemWallet p {display: inline-block; float: left; width: 73px;}
.itemWallet span {display: inline-block; float: right; width: 114px;}
.itemWallet strong {color: #ebbe52; font-weight: bold; }
.itemWallet em {color: #697379; font-weight: bold; margin-right: 3px;}
.total {/*color: #ebbe52;*/ line-height: 30px; font-weight: bold; background: #171717;}
.total strong {font: bold 14px Arial;}

.icon-lock {width: 32px; height: 32px; display: block; margin: 8px auto; background: url("../images/icon-lock.png") 0 0 no-repeat;}
.my-wallet-locked {border-top: 1px solid #2a2a2a; color: #858585; padding: 40px; text-align: center;}

.my-wallet h2 {line-height: 28px; text-align: center; color: #858585; font-weight: bold; text-shadow: 1px 1px 1px #000000; border-top: 1px solid #2a2a2a; border-bottom: 1px solid #121212;}
.itemWallet select, .itemWallet input[type="text"] {font-size: 12px; padding: 3px; color: #ffffff; background: #121212; border: 1px solid #121212;}
.itemWallet select:hover, .itemWallet select:focus, .itemWallet input[type="text"]:hover, .itemWallet input[type="text"]:focus {border-color: #1e1e1e;}
.itemWallet select {line-height: 12px; width: 104px; height: 15px; background: url('../images/select-arrow.png') right 6px no-repeat #121212; text-indent: 0.01px; text-overflow: ellipsis; appearance: none; -moz-appearance: none; -webkit-appearance: none; cursor: pointer;}
.itemWallet input[type="text"] {width: 91px; padding: 3px; height: 12px; text-align: left; color: #ebbe52;}

.itemWallet input::-webkit-input-placeholder {color: #ebbe52;}
.itemWallet input:-moz-placeholder {color: #ebbe52;}
.itemWallet input::-moz-placeholder {color: #ebbe52;}
.itemWallet input:-ms-input-placeholder {color: #ebbe52;}

.itemWallet select.not_chosen {color: #ffffff;}
.itemWallet select option {color: #ffffff;}
.itemWallet select option:first-child {color: #ffffff;}

.btn-moneytransfer {border-top: 1px solid #2a2a2a; text-align: center; padding: 8px 0 0 0;}
.btn-moneytransfer .btn {width: 78% !important; margin: 0 auto; line-height: 20px;}

.btn-deposit, .btn-withdraw {line-height: 23px; margin-top: 8px; padding-left: 4px; padding-right: 6px;}
.btn-deposit {width: 79px; margin-right: 5px;}
.btn-withdraw {width: 85px;}

.icon-btn-deposit, .icon-btn-withdraw {width: 23px; height: 23px; margin: 0 0 0 3px; display: inline-block; float: left; background: url("../images/icon-deposit-withdraw.png") no-repeat;}
.icon-btn-deposit {background-position: 0 0;}
.icon-btn-withdraw {background-position: 0 -23px;}

/*Content*/
/*.masthead-container {height: 315px;}*/
.content-container {width: 100%; min-height: 422px; /*margin: 489px auto 0 auto;*/ background: url("../images/bg-container-shadow.png") top center no-repeat;}
.main-wrapper {margin: 315px auto 0 auto; /*background: url("../images/bg-container-shadow.png") top center no-repeat !important;*/}
.sports-wrapper {margin: 0 auto; /*background: url("../images/bg-container-all.png") top center no-repeat !important;*/}
.slots-wrapper {margin: 138px auto 0 auto;}
.signup-wrapper {margin: 138px auto 0 auto; /*background: url("../images/bg-container-all.png") top center no-repeat !important;*/}

/*Main-Container*/
.main-container {display: block; width: 1004px; border: 5px solid #f8d8a0; border-bottom: none; background: #080d0e; padding: 10px;}
.gamebuttons-main {display: block; width: 1004px; height: 370px; opacity: 0;}
.gamebuttons-main ul {width: 1004px; height: 370px;}
.gamebuttons-main li {display: inline-block; float: left; width: 246px; width: 245px\9; height: 382px; margin-right: 6px; background: url("../images/gamebuttons-main.png") #000000 no-repeat; cursor: pointer; text-align: center;
    transition: background 0.5s; -moz-transition: background 0.5s; -webkit-transition: background 0.5s; -o-transition: background 0.5s;}
.gamebutton-main-keno {margin-right: 0 !important;}
.gamebuttons-main li:last-child {margin-right: 0;}
.gamebuttons-main li:hover {background: url("../images/gamebuttons-main-hover.png") no-repeat;}

.gamebuttons-main li strong {display: block; margin-top: 273px; font-weight: 600; font-size: 30px; color: #b7853b;}
.gamebuttons-main li span {display: block; margin-bottom: 8px; font-weight: 200; font-size: 16px; color: #ffffff;}
.gamebuttons-main li button {width: 90px !important;}

.gamebutton-main-casino {background-position: 0 0; margin-right: 7px !important;}
.gamebutton-main-sports {background-position: -246px 0 !important;}
.gamebutton-main-slots {background-position: -492px 0 !important; margin-right: 7px !important;}
.gamebutton-main-keno {background-position: -738px 0 !important; margin-right: 0 !important;}

.gamebutton-main-casino:hover {background-position: 0 0;}
.gamebutton-main-sports:hover {background-position: -246px 0 !important;}
.gamebutton-main-slots:hover {background-position: -492px 0 !important;}
.gamebutton-main-keno:hover {background-position: -738px 0 !important;}

/*Sports-Container*/
.sports-container {display: none; width: 1032px; padding: 2px; border: 5px solid #f8d8a0; border-bottom: none; background: #080d0e;}

/*Slots-Container*/
.slots-container {display: none; width: 1024px; padding: 0; min-height: 682px; position: relative; border: 5px solid #f8d8a0; border-bottom: none; background: #080d0e;}
.banner-slot {width: 1024px; height: 138px; position: absolute; top: -143px; display: none;}
.banner-slot button {position: absolute; top: 92px !important; left: 30px; width: 100px !important; cursor: pointer;}
.banner-slot p {position: absolute; top: 69px; left: 30px; width: 570px; color: #ffffff;}

/*SignUp-Container*/
.signup-container {display: none; width: 1014px; padding: 5px 5px 0 5px; background: url("../images/bg-container-signup.png") top center no-repeat; border: 5px solid #f8d8a0; border-bottom: none;}
.banner-signup {width: 1024px; height: 138px; position: absolute; top: -138px; display: none;}
.banner-signup button {position: absolute; top: 92px !important; left: 30px; width: 100px !important; cursor: pointer;}
.banner-signup p {position: absolute; top: 78px; left: 30px; width: 570px; color: #323440; text-shadow: none; font-size: 19px;}

.signup-form {width: 660px; height: 405px; float: left; border-right: 1px solid #000000;}
.signup-container h1 {height: 32px; line-height: 30px; color: #e7be5c; padding-left: 10px; font-size: 18px; font-weight: 600; background: -webkit-linear-gradient(#e7be5c, #b8863c); -webkit-background-clip: text; -webkit-text-fill-color: transparent; border-bottom: 1px solid #262626; text-shadow: none; letter-spacing: -1px;}

.signup-container button {width: 100px;}

.signup-container .row-box {display: block; position: relative; vertical-align: middle; font-size: 13px; padding: 2px 0;}
.signup-container .row-box:hover {}
.signup-container .row-box.highlight {background-color: rgba(15,15,15,0.27);}
.signup-container .row-box label {width: 133px; float: left; display: inline; margin: 0 15px 0 0; padding: 0 0 0 10px; font-size: 12px; line-height: 25px; text-align: right; color: #ffffff;}
.signup-container .row-box p {float: left; display: inline; margin: 0 !important; padding: 0; line-height: 30px;}
.signup-container .row-box em {display: inline-block; font-size: 11px; font-style: normal; line-height: 22px; margin-left: 8px;}
.signup-container .row-box input[type=text], .signup-container .row-box input[type=email], .signup-container .row-box input[type=password], .signup-container .row-box textarea, .signup-container .row-box select {font-size: 13px; color: #000000;}
.signup-container .row-box input[type=text], .signup-container .row-box input[type=email], .signup-container .row-box input[type=password], .signup-container .row-box select {float: left; border: 1px solid #9b9b9b; background: #ffffff; color: #454545; padding: 0 6px; width: 310px; height: 24px; line-height: 24px;}
.signup-container .row-box textarea {border: 1px solid #9b9b9b; background: #ffffff; color: #454545; padding: 4px 6px; width: 375px;}
/*.signup-container .row-box select {float: left; border: 1px solid #9b9b9b; background: url('../images/select-arrow2.png') right 10px no-repeat #ffffff; color: #454545; padding: 4px 6px; width: 389px; height: 42px; line-height: 30px; text-indent: 0; text-overflow: ''; appearance: none; -moz-appearance: none; -webkit-appearance: none; cursor: pointer;}*/
.signup-container .row-box label.msg {width: auto !important;}

.signup-container .row-box-desc, .row-box-desc {display: block; vertical-align: middle; font-size: 12px; margin: 0; padding: 9px 14px; background: rgba(0,0,0,0.2); color: #5c5c5c;}
.signup-container .row-box-last {padding: 10px 0; color: #9a9b9c; text-align: center;}

.signup-container .row-box-checkbox {padding: 0 0 0 190px !important;}
.signup-container .row-box-checkbox input[type=checkbox] {display: inline; vertical-align: middle;}

/*.signup-container button {line-height: 36px; font-size: 18px; padding: 0 26px;}*/
.signup-terms-box {width: 517px; padding: 4px 0; position: relative;}
.signup-terms-box button.btn-terms, .signup-terms-box button.btn-over18 {width: 200px; height: 25px; margin: 0 2px; position: relative;}
.signup-terms-box button.btn-signup {width: 429px; height: 25px; margin: -6px 2px;}
.signup-container hr {background: #26272c; height: 1px; border: 0; }

.icon-terms {width: 19px; height: 18px; position: absolute; top: 11px; left: 42px; background: url("../images/icon-terms.png") 0 0 no-repeat; cursor: pointer; z-index: 9999;}
.icon-terms:hover {background-position: 0 -18px;}

.signup-form-promos {width: 352px; border-left: 1px solid #34373c; float: right; height: 405px;}
.signup-form-promos div {padding: 4px 2px 3px 2px !important; cursor: pointer;}
.signup-form-promos div img {border: 1px solid #2a2c32;}
.signup-form-promos div img:hover {border-color: #e7c05e;}

.msg {color: #b7b7b7 !important; text-shadow: none;}
.error, .valid {position: absolute; right: 4px; text-shadow: none; line-height: 27px; width: 139px; height: 27px; padding-left: 30px; font-size: 11px; color: #fffae9;}
.error {background: url("../images/bg-form-error.png") 0 0 no-repeat;}
.valid {background: url("../images/bg-form-check.png") 0 0 no-repeat;}

.signup-container input::-webkit-input-placeholder {color: #000000;}
.signup-container input:-moz-placeholder {color: #000000;}
.signup-container input::-moz-placeholder {color: #000000;}
.signup-container input:-ms-input-placeholder {color: #000000;}

.signup-container select::-webkit-input-placeholder {color: #000000;}
.signup-container select:-moz-placeholder {color: #000000;}
.signup-container select::-moz-placeholder {color: #000000;}
.signup-container select:-ms-input-placeholder {color: #000000;}

.signup-container select.not_chosen {color: #000000;}
.signup-container select option {color: #000000;}
.signup-container select option:first-child {color: #000000;}

/*Notice - Container*/
.notice-container {display: block; margin-top: 12px; padding: 12px 0 0 0;}
.popup-notice-container {background: #000000; padding: 1px; width: 760px; border-radius: 10px;}
.notice-tabs {width: 328px; float: left; margin-right: 9px; opacity: 0;}
.notice-tabs h1 {display: block; height: 34px; line-height: 34px; padding-left: 15px; background: url('../images/bg-notice-h1.png') top repeat-x #151414; font-size: 16px; color: #cccccc; border-top-left-radius: 8px; border-top-right-radius: 8px;}
.notice-tabs h1 a {float: right; color: #7d7d7d; font-size: 11px; height: 16px; line-height: 16px; background: #141414; border: 1px solid #282829; text-transform: uppercase; padding: 0 6px; margin: 8px 11px 0 0;}
.notice-tabs h1 a:hover {color: #cccccc; border-color: #3e3e3e;}
.notice-tabs:nth-child(3) {margin-right: 0 !important;}
.notice-tabs:first-child + div + div {margin-right: 0 !important;}
.notice-tabs ul {height: 31px;}
.notice-tabs ul li {width: 50%; float: left; display: inline; text-align: center; line-height: 31px; font-weight: bold; color: #808080;}
.notice-tabs ul li, .notice-tabs ul li a {cursor: pointer;}
.notice-tabs ul li.active, .notice-tabs ul li.active:hover {color: #c8a956; background-color: #2b2c2b;}
.notice-tabs ul li:hover {color: #ffffff; background-color: #131313;}
.notice-tabs-content {width: 328px;}
.notice-tabs-content p {width: 328px; display: block; line-height: 30px;}
.notice-tabs-content p:nth-child(even) {background: #1c1c1c;}
.notice-tabs-content p span {width: 115px; display: inline-block; color: #666666; text-align: center;}
.notice-tabs-content p strong {width: 100px; display: inline-block; color: #c8a956; font-weight: bold; text-align: center;}
.notice-tabs-content p em {width: 92px; display: inline-block; color: #ffffff; font-style: normal; text-align: center;}
.notice-announcements p span {width: 75px !important;}
.notice-announcements p strong {width: 245px !important; text-align: left; color: #ffffff; cursor: pointer;}
.notice-announcements p strong:hover {color: #c8a956;}
.ng-hide {display: none;}

/*Popup-Default*/
#popup {display:none; background:#fff; border-radius:10px 10px 10px 10px; box-shadow:0 0 8px 0 #000; color:#111; min-width:450px; padding:25px;}
.button {background:#f00000; border-radius:10px; box-shadow:0 2px 3px rgba(0,0,0,0.3); color:#fff; cursor:pointer; display:inline-block; padding:10px 20px; text-align:center; text-decoration:none; text-shadow: none;}
.button:hover {background-color:#1e1e1e;}
.button.b-close,.button.bClose {border-radius:7px 7px 7px 7px; box-shadow:none; font:bold 131% serif; padding:0 6px 2px; position:absolute; right:-7px; top:-7px;}

/*Popup - Login*/
#popup-login {display:none; color: #cccccc; min-width: 385px; width: 385px; height: 300px; padding: 10px;}
#popup-login .logo-login {display: inline-block; width: 197px; height: 57px; background: url("../images/logo-uefa168-login.png") left center no-repeat; cursor: pointer;}
#popup-login input[type=text], #popup-login input[type=password] {display: block; width: 340px; height: 43px; padding-left: 45px; margin: 12px auto; line-height: 43px; border: 2px solid #d6d6d6;}
#popup-login input[type=text]:focus, #popup-login input[type=password]:focus {border-color: #c1914b;}

.btn-popup-login {display: block; width: 373px; height: 41px; line-height: 41px; background: url("../images/btn-popup-login.png") top repeat-x; border: 1px solid #737373; color: #ffffff; font-size: 18px; text-align: center; text-shadow: 1px 1px 1px #000000;}
.btn-popup-login:hover {background-position: bottom;}

#popup-login p {display: block; color: #333333; margin: 18px 0; font-size: 14px;}
#popup-login p span {display: inline; cursor: pointer; margin: 0 4px;}
#popup-login p span.txt-gold {color: #c4944a;}
#popup-login p span.txt-gold:hover {color: #eeb762;}

#popup-login p span.txt-gray {color: #cccccc;}
#popup-login p span.txt-gray:hover {color: #ffffff;}

#popup-login input::-webkit-input-placeholder {color: #454545;}
#popup-login input:-moz-placeholder {color: #454545;}
#popup-login input::-moz-placeholder {color: #454545;}
#popup-login input:-ms-input-placeholder {color: #454545;}

/*Popup - Forgot Password*/
#popup-forgotpass {display:none; color: #cccccc; min-width: 385px; width: 385px; height: 300px; padding: 10px;}
#popup-forgotpass .logo-login {display: inline-block; width: 197px; height: 57px; background: url("../images/logo-uefa168-login.png") left center no-repeat; cursor: pointer;}
#popup-forgotpass input[type=text], #popup-forgotpass input[type=password], #popup-forgotpass input[type=email] {display: block; width: 340px; height: 43px; padding-left: 45px; margin: 12px auto; line-height: 43px; border: 1px solid #d6d6d6;}
#popup-forgotpass input[type=text]:focus, #popup-forgotpass input[type=password]:focus, #popup-forgotpass input[type=email]:focus {border-color: #c1914b;}

#popup-forgotpass h2, #popup-forgotpass h4 {text-align: center; padding: 0 20px;}
#popup-forgotpass h2 {margin-top: 10px; font-size: 20px; color: #e3b571;}
#popup-forgotpass form {margin-top: 23px;}

.btn-popup-forgotpass {display: block; width: 373px; height: 41px; line-height: 41px; background: url("../images/btn-popup-login.png") top repeat-x; border: 1px solid #737373; color: #ffffff; font-size: 18px; text-align: center; text-shadow: 1px 1px 1px #000000;}
.btn-popup-forgotpass:hover {background-position: bottom;}

#popup-forgotpass p {display: block; color: #333333; margin: 18px 0; font-size: 14px;}
#popup-forgotpass p span {display: inline; cursor: pointer; margin: 0 4px;}
#popup-forgotpass p span.txt-gold {color: #c4944a;}
#popup-forgotpass p span.txt-gold:hover {color: #eeb762;}

#popup-forgotpass p span.txt-gray {color: #cccccc;}
#popup-forgotpass p span.txt-gray:hover {color: #ffffff;}

#popup-forgotpass input::-webkit-input-placeholder {color: #454545;}
#popup-forgotpass-login input:-moz-placeholder {color: #454545;}
#popup-forgotpass input::-moz-placeholder {color: #454545;}
#popup-forgotpass input:-ms-input-placeholder {color: #454545;}

/*Popup Close for: Login, Forgot Password*/
input[type=text].login-input-user {background: url("../images/popup-login-icons.png") 0 -90px no-repeat #fff;}
input[type=password].login-input-pass {background: url("../images/popup-login-icons.png") 0 -45px no-repeat #fff;}
input[type=text].login-input-email, input[type=email].login-input-email {background: url("../images/popup-login-icons.png") 0 0 no-repeat #fff;}

.btn-popup-close {float: right; width: 41px; height: 41px; margin: 10px 0 10px 10px; background: url("../images/btn-popup-close.png") top no-repeat; cursor:pointer; display:inline-block; text-align:center; text-decoration:none; text-shadow: none;}
.btn-popup-close:hover {background-position: bottom;}

/*Popup - Contents*/
.header-title-box {display: block; padding: 10px 8px; background: none; vertical-align: middle;}
.header-title-box textarea {margin: 0; font-size: 12px; font-family: Verdana, Arial, serif; line-height: 14px; padding: 3px; border: 1px solid #9b9b9b; background: #ffffff; color: #454545;}
.reply-box {text-align: center; padding: 10px 0;}
.reply-box textarea {margin: 0 auto; text-align: left; display: block;}
.text-count {float: left; margin-top: 6px; line-height: 26px; color: #999999; font-size: 11px;}
.btn-send {float: right; margin: 4px;}
.btn-send button {padding: 6px 20px;}
.input-textcount {width: 30px; padding: 4px; margin-right: 6px; line-height: 14px; background: none; cursor: default; background: rgba(0,0,0,0.40); border: 1px solid #0F0F0F; text-align: center; color: #999999;}

.user-message {background: #ffffff; border: 1px solid #dadada; display: block; margin: 5px 10px 10px 25px; padding: 10px; float: right; width: 90%;}
.user-message strong {color: #f27f05; font-weight: bold;}

.popup-content {background: url("../images/bg-popup.png") top center no-repeat #141519;}

/*Popup - Wallet*/
#popup-wallet {display:none; margin-top: 10px; background: #000000; color: #cccccc; min-width: 450px; width: 778px; border: 5px solid #d29b3d; border-radius: 3px;}
#popup-wallet div.popup-links {padding: 5px; background: #000000;}
#popup-wallet ul {width: 768px; height: 90px; background: url("../images/bg-tab-wallet.png") top repeat-x #111315;}
#popup-wallet ul li {width: 96px; height: 90px; list-style: none; float: left; display: inline-block; cursor: pointer; margin: 0; padding: 0; color: #687084; text-align: center; text-shadow: none; text-transform: uppercase;
    background: url("../images/tabs-wallet.png") no-repeat;}
#popup-wallet ul li span {margin: 48px 10px 0 10px; display: block;}
#popup-wallet ul li:hover, #popup-wallet ul li.active {color: #ffffff;}
#popup-wallet span.btn-popup-close, #popup-customer span.btn-popup-close, #popup-terms span.btn-popup-close, #popup-notice span.btn-popup-close {margin: -5px -60px 0 0;}

#walletBalance {background-position: 0 0;}
#walletDeposit {background-position: -96px 0 !important;}
#walletWithdraw {background-position: -192px 0 !important;}
#walletBonus {background-position: -288px 0 !important;}
#walletFriends {background-position: -384px 0 !important;}
#walletCoupon {background-position: -480px 0 !important;}
#walletCash {background-position: -576px 0 !important;}
#walletPassword {background-position: -672px 0 !important;}

#walletBalance:hover, #walletBalance.active {background-position: 0 -96px;}
#walletDeposit:hover, #walletDeposit.active {background-position: -96px -96px !important;}
#walletWithdraw:hover, #walletWithdraw.active {background-position: -192px -96px !important;}
#walletBonus:hover, #walletBonus.active {background-position: -288px -96px !important;}
#walletFriends:hover, #walletFriends.active {background-position: -384px -96px !important;}
#walletCoupon:hover, #walletCoupon.active {background-position: -480px -96px !important;}
#walletCash:hover, #walletCash.active {background-position: -576px -96px !important;}
#walletPassword:hover, #walletPassword.active {background-position: -672px -96px !important;}

.btn-option {font-size: 12px; font-weight: 200; padding: 3px 11px; padding: 3px 11px 3px 12px\9; margin: 0 1px 0 0;}

#popup-wallet .btn-transfer, #popup-wallet .btn-deposit, #popup-wallet .btn-withdraw{
    font-size: 16px;
    padding: 6px 30px;
    width: auto;
    line-height: 14px !important;
}
.popup-btn-deposit {
    width: 79px;
    margin-right: 5px;
}
.popup-btn-withdraw {
    width: 85px;
}
.popup-btn-deposit, .popup-btn-withdraw {
    line-height: 23px;
    margin-top: 8px;
    padding-left: 4px;
    padding-right: 6px;
}
#popup-wallet select {background: #000000;}

.balance-content {width: 381px; height: 520px; float: left; border-right: 2px solid #000000;}
.moneytransfer-content {width: 385px; height: 200px; float: left;}
.deposit-content, .withdraw-content, .bonus-content, .friend-content, .coupon-content, .withdraw-content, .history-content, .config-content, .tab-content {width: 100%; overflow: hidden; border-left: 2px solid #000000; min-height: 474px;}
#paging-container {min-height: 474px;}

.header-box {display: block; padding: 9px 14px; border-bottom: 1px solid #0e0f15; background: url('../images/bg-cell.png') top repeat-x; vertical-align: middle; color: #bbc1ce; font-size: 18px;}
.header-row-box {display: block; padding: 0; border-bottom: 1px solid #0e0f15; background: url('../images/bg-th.png') top repeat-x; vertical-align: middle;}
.header-title-box {display: block; padding: 8px 8px; border-bottom: 1px solid #000000; background: url('../images/bg-cell.png') top repeat-x #0f0f0f; vertical-align: middle;}
.row-col1 {width: 100%;}
.header-title {display: inline-block; float: left; text-align: center; font-weight: bold; line-height: 30px;}
.header-title, .row-col {float: left; display: inline;}
.header-title strong, .header-title p {color: #ffffff;}
/*.header-title span {margin-left: 10px; padding: 0;}*/
.header-title-box p {padding: 0 10px; line-height: 20px;}
.preview-box {padding: 10px 18px; display: block; line-height: 20px; border-bottom: 1px solid #000000; background: url('../images/bg-cell.png') top repeat-x rgba(0,0,0,0.4);}
/*.pagination-container {background: url('../images/bg-cell.png') top repeat-x;}*/
/*-PAGINATION-*/
.pagination-container {margin-top: 20px; padding: 0 10px;}
.pagination-container ul{border-bottom:none;margin-top: 10px;text-align: center;margin-bottom: 20px;list-style-type: none; background: none !important; width: auto !important; height: auto !important;}
.pagination-container ul li, .pagination-container ul li a{
    display: inline-block; width: 30px !important; height: 30px !important; line-height: 30px; margin: 0 2px !important; color: #d4d4d4; text-align: center; text-decoration: none; border-radius: 3px; border-width: 1px 1px 1px 1px; border-style: solid; border-color: #020303 #030303 #030304 #030304;
    -webkit-box-shadow: inset 1px 1px 1px 0 #3b3b3b;
    -moz-box-shadow: inset 1px 1px 1px 0 #3b3b3b;
    box-shadow: inset 1px 1px 1px 0 #3b3b3b;
    background: #2a2a2c !important;
    background: -moz-linear-gradient(top,  #2a2a2c 0%, #252527 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2a2c), color-stop(100%,#252527)) !important;
    background: -webkit-linear-gradient(top,  #2a2a2c 0%,#252527 100%) !important;
    background: -o-linear-gradient(top,  #2a2a2c 0%,#252527 100%) !important;
    background: -ms-linear-gradient(top,  #2a2a2c 0%,#252527 100%) !important;
    background: linear-gradient(to bottom,  #2a2a2c 0%,#252527 100%) !important;
}
.pagination-container ul li:hover {
    -webkit-box-shadow: inset 1px 1px 1px 0 #424245;
    -moz-box-shadow: inset 1px 1px 1px 0 #424245;
    box-shadow: inset 1px 1px 1px 0 #424245;
    background: #3a3a3c !important;
    background: -moz-linear-gradient(top,  #3a3a3c 0%, #303033 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3a3c), color-stop(100%,#303033)) !important;
    background: -webkit-linear-gradient(top,  #3a3a3c 0%,#303033 100%) !important;
    background: -o-linear-gradient(top,  #3a3a3c 0%,#303033 100%) !important;
    background: -ms-linear-gradient(top,  #3a3a3c 0%,#303033 100%) !important;
    background: linear-gradient(to bottom,  #3a3a3c 0%,#303033 100%) !important;
}
.pagination-container ul li.active{
    color: #eeeeee; cursor: default;
    -webkit-box-shadow: inset 1px 1px 1px 0 #4c4c4f;
    -moz-box-shadow: inset 1px 1px 1px 0 #4c4c4f;
    box-shadow: inset 1px 1px 1px 0 #4c4c4f;
    background: #424245 !important;
    background: -moz-linear-gradient(top,  #424245 0%, #3b3b3e 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424245), color-stop(100%,#3b3b3e)) !important;
    background: -webkit-linear-gradient(top,  #424245 0%,#3b3b3e 100%) !important;
    background: -o-linear-gradient(top,  #424245 0%,#3b3b3e 100%) !important;
    background: -ms-linear-gradient(top,  #424245 0%,#3b3b3e 100%) !important;
    background: linear-gradient(to bottom,  #424245 0%,#3b3b3e 100%) !important;
}
/*.pagination-container ul li a{cursor: pointer;background: #dedede;line-height: 22px;display: block;  }*/
.pagination-container ul li a:hover{cursor: pointer;background: #dedede;color:#000000;line-height: 22px;}
.header-title-col2, .row-col2 {float: left; display: inline; width: 12%;}
.header-title-col3, .row-col3 {float: left; display: inline; width: 33%;}
.header-title-col5, .row-col5 {float: left; display: inline; width: 64%;}
.header-title-col7, .row-col7 {float: left; display: inline; width: 14.2%;}

/*Deposit Tabs*/
.depositTabs {margin: 0; padding: 4px 0 0 0; background: url('../images/bg-cell.png') top repeat-x rgba(0,0,0,0.2) !important; height: 37px !important;}
.depositTabs li {border: 1px solid #000106; background-image: none !important; line-height: 30px !important; height: 30px !important; width: 373px !important; margin: 0 3px !important; border-radius: 4px;
    -webkit-box-shadow: inset 0px 0px 3px 0px #35373c;
    -moz-box-shadow: inset 0px 0px 3px 0px #35373c;
    box-shadow: inset 0px 0px 3px 0px #35373c;
}
.depositTabs li:hover {
    -webkit-box-shadow: inset 0px 0px 3px 0px #535559;
    -moz-box-shadow: inset 0px 0px 3px 0px #535559;
    box-shadow: inset 0px 0px 3px 0px #535559;
}
.depositTabs li.active:hover {
    -webkit-box-shadow: inset 0px 0px 3px 0px #eeb24d;
    -moz-box-shadow: inset 0px 0px 3px 0px #eeb24d;
    box-shadow: inset 0px 0px 3px 0px #eeb24d;
}
.depositTabs li.active {
    -webkit-box-shadow: inset 0px 0px 3px 0px #eeb24d;
    -moz-box-shadow: inset 0px 0px 3px 0px #eeb24d;
    box-shadow: inset 0px 0px 3px 0px #eeb24d;
    color: #eeb24d !important; background: #000000 !important;}

.inputDate {background: url("../images/icon_plus.png") 176px 9px no-repeat #000000 !important;}

/*Message Box*/
.message-box {background: url('../images/bg-cell.png') top repeat-x #1b1d22; padding: 11px 6px 6px 6px; border-bottom: 1px solid #000000;}
.admin-message {border: 1px solid #151617; display: block; margin: 5px 10px 10px 10px; padding: 10px; width: 94%; -moz-box-shadow: inset 0 0 3px #0f0f0f; -webkit-box-shadow: inset 0 0 3px #0f0f0f; box-shadow: inset 0 0 3px #111318; background: #15171c;}
.admin-message strong {color: #ebbe52; font-weight: bold;}
.admin-message em, .user-message em {font-style: normal; font-size: 11px; color: #aeaeae;}
.admin-message-box, .user-message-box {margin-top: 8px;}
.admin-message-box p, .user-message-box p {line-height: 18px; margin: 0; padding: 0;}
.message-name {float: left;}
.message-time {float: right;}

/*Message Box*/
.header-box {display: block; padding: 9px 14px; border-bottom: 1px solid #0e0f15; background: url('../images/bg-cell.png') top repeat-x; vertical-align: middle;}
.header-row-box {display: block; border-bottom: 1px solid #0e0f15; background: url('../images/bg-th.png') top repeat-x; vertical-align: middle;}
.header-title-box {display: block; padding: 10px 8px; border-bottom: 1px solid #000000; background: url('../images/bg-cell.png') top repeat-x #1b1d22; vertical-align: middle;}
.row-col1 {width: 100%;}
.preview-box {padding: 10px 18px; display: block; line-height: 20px; border-bottom: 1px solid #000000; background: url('../images/bg-cell.png') top repeat-x rgba(0,0,0,0.4);}

.row-col {display: inline-block; float: left; /*border-bottom: 1px dotted #313338;*/ line-height: 28px;}

.user-message {background: #22252b; border: none; display: block; margin: 5px 10px 10px 25px; padding: 10px; float: right; width: 90%; -moz-box-shadow: 1px 1px 1px #0f0f0f; -webkit-box-shadow: 1px 1px 1px #0f0f0f; box-shadow: 1px 1px 1px #0f0f0f;}
.user-message strong {color: #14769e; font-weight: bold;}

.highlight, .balance-content .highlight, .moneytransfer-content .highlight, .deposit-content .highlight, .withdraw-content .highlight, .bonus-content .highlight, .friend-content .highlight, .coupon-content .highlight, .history-content .highlight, .config-content .highlight {background: url('../images/bg-cell.png') top repeat-x rgba(15,15,15,0.27);}
.highlight, .customer-box .highlight {background: url('../images/bg-cell.png') top repeat-x rgba(15,15,15,0.27);}
.wallet-box .row-box-transfer:hover, .wallet-box .row-box-table:hover, .wallet-box .row-box:hover, .wallet-box .row-box-bal:hover {background: url('../images/bg-cell.png') top repeat-x rgba(15,15,15,0.70);}
.customer-box .row-box-transfer:hover, .customer-box .row-box-table:hover, .customer-box .row-box:hover, .customer-box .row-box-bal:hover {background: url('../images/bg-cell.png') top repeat-x rgba(15,15,15,0.70); color: #ffffff;}
.text-left, td.text-left {text-align: left; padding-left: 5px;}
.text-right, td.text-right {text-align: right; padding-right: 5px;}
.text-center, td.text-center {text-align: center;}

.row-box-bal, .row-box-transfer {display: block; padding: 6px 8px 2px 8px; border-bottom: 1px solid #000000; vertical-align: middle; background: url('../images/bg-cell.png') top repeat-x;}
.row-box-logo, .row-box-name, .row-box-balance, .row-box-total, .row-box-totalbal {float: left; display: inline; line-height: 26px; padding: 0 2px;}
.row-box-icon {float: left; display: inline; padding: 0 2px;}
.row-box-logo {width: 76px; margin-right: 5px; position: relative; height: 28px;}
.row-box-logo img {position: absolute;}
.row-box-name {width: 90px;}
.row-box-icon {width: 86px;}
.row-box-balance {width: 85px; margin-left: 7px;}
.row-box-bal strong {color: #ecb207; font-weight: bold;}
.row-box-bal span {color: #ecb207; font-size: 14px; font-weight: bold; margin: 0; padding: 0;}
.row-box-total {width: 184px; padding-left: 89px;}
.row-box-totalbal {width: 86px;}

.row-box-transfer {padding: 10px 8px;}
.row-box-transfer-last {background: url('../images/bg-cell.png') top repeat-x; padding: 10px 8px; border-bottom: none;}
.row-box-transfer strong {color: #ebbe52; font-weight: bold;}
.row-box-transfer span {display: block; margin: 10px 0 1px 0; padding: 0; text-align: right;}
.row-box-transfer label {float: left; display: inline; margin: 0; padding: 0; width: 95px; line-height: 20px;}
.row-box-transfer p {float: right; display: inline; margin: 0; padding: 0; line-height: 18px;}
.row-box-transfer em {float: left; display: inline; margin: 0; padding: 0 0 0 10px; font-size: 11px; font-style: normal; line-height: 18px;}
.row-box-transfer select {width: 240px !important;}

.row-box, .row-box-last, .row-box-table {background: url('../images/bg-cell.png') top repeat-x; display: block; padding: 7px 6px 7px 14px; border-bottom: 1px solid #000000; vertical-align: middle;}
.row-box-last, .no-border-bottom {border-bottom: none;}
.row-box-table {padding: 9px 14px; height: 11px;}
.row-box label {float: left; display: inline; margin: 0; padding: 0; width: 140px; line-height: 30px;}
.config-content .row-box label {margin: 0 0 0 126px;}
.row-box strong {color: #ebbe52; font-weight: bold;}
.row-box p {float: left; display: inline; margin: 0; padding: 0; line-height: 18px;}
.row-box em {display: inline; margin: 0; padding: 0 0 0 2px; font-size: 11px; font-style: normal; line-height: 22px;}

#popup-wallet select, #popup-wallet input[type="text"], #popup-wallet textarea,
.popup-content select, .popup-content input[type="text"], .popup-content input[type="password"], .popup-content textarea {margin: 0 3px 0 0; font-size: 12px; line-height: 14px; padding: 3px; color: #ffffff; background: #000000; border: 1px solid #000000; border-bottom: 1px solid #2a2d32;}
#popup-wallet select, .popup-content select {width: 184px; height: 24px; background: url('../images/select-arrow.png') right 10px no-repeat #000000; text-indent: 0.01px; text-overflow: ''; appearance: none; -moz-appearance: none; -webkit-appearance: none; cursor: pointer;}
#popup-wallet input[type="text"], .popup-content input[type="text"] {width: 185px; padding: 3px; height: 24px;}
.content-config input[type="text"], .content-config input[type="password"] {width: 260px; padding: 3px; height: 24px;}
.content-config label {margin: 0 0 0 100px;}
.popup-content textarea {width: 593px; display: block}
#popup-customer .popup-content textarea {width: 730px; display: block}
.popup-content {min-height: 520px; height: 520px;}

.row-option-box {display: block; padding: 6px 9px; vertical-align: middle; background: rgba(0,0,0,0.3);}
.row-option-box p {float: left; margin: 0; padding: 0;}
.row-option-box select {margin-left: 0;}

.row-option-box input[type=text], .row-option-box textarea, .row-option-box select {font-size: 13px; font-family: Verdana, Arial, serif; color: #000000; margin: 0 6px 0 0;}
.row-option-box input[type=text] {float: left; border: 1px solid #9b9b9b; background: #ffffff; color: #454545; padding: 4px 6px; width: 135px; height: 18px; line-height: 26px;}
.row-option-box textarea {border: 1px solid #9b9b9b; background: #ffffff; color: #454545; padding: 4px 6px; width: 135px;}
.row-option-box select {float: left; border: 1px solid #9b9b9b; background: url('../images/select-arrow2.png') right 4px no-repeat #ffffff; color: #454545; padding: 4px 6px; width: 190px; height: 28px; line-height: 18px; text-indent: 0; text-overflow: ''; appearance: none; -moz-appearance: none; -webkit-appearance: none; cursor: pointer;}
.row-option-box .btn {padding: 8px 28px;  margin-left: 5px;}

/*Icon Casinos*/
.icon-casino, .icon-sport, .icon-slot {border: 1px solid rgba(255,255,255,0.06); width: 23px; height: 23px; display: inline-block; margin-left: -2px; padding: 1px 2px;}
.icon-casino, .icon-sport {border-right: none;}
.icon-casino {background: url('../images/icon-casino.png') 0 0 no-repeat}
.icon-casino.on {background: url('../images/icon-casino.png') 1px -24px no-repeat;}
.icon-sport {background: url('../images/icon-casino.png') -25px 0 no-repeat;}
.icon-sport.on {background: url('../images/icon-casino.png') -25px -24px no-repeat;}
.icon-slot {background: url('../images/icon-casino.png') -49px 0 no-repeat;}
.icon-slot.on {background: url('../images/icon-casino.png') -49px -24px no-repeat;}


/*Popup - Customer*/
#popup-customer {display:none; margin-top: 10px; background: #000000; color: #cccccc; min-width: 450px; width: 778px; border: 5px solid #d29b3d; border-radius: 3px;}
#popup-customer div.popup-links {padding: 5px; background: #000000;}
#popup-customer ul {width: 768px; height: 90px; background: url("../images/bg-tab-wallet.png") top repeat-x #111315;}
#popup-customer ul li {width: 96px; height: 90px; list-style: none; float: left; display: inline-block; cursor: pointer; margin: 0; padding: 0; color: #687084; text-align: center; text-shadow: none; text-transform: uppercase;
    background: url("../images/tabs-customer.png") no-repeat;}
#popup-customer ul li span {margin: 48px 10px 0 10px; display: block;}
#popup-customer ul li:hover, #popup-customer ul li.active {color: #ffffff;}

#customerPromos {background-position: 0 0;}
#customerNotice {background-position: -96px 0 !important;}
#customerEvent {background-position: -192px 0 !important;}
#customerFaq {background-position: -288px 0 !important;}
#customer1on1 {background-position: -384px 0 !important;}
#customerPartnership {background-position: -480px 0 !important;}

#customerPromos:hover, #customerPromos.active {background-position: 0 -96px;}
#customerNotice:hover, #customerNotice.active {background-position: -96px -96px !important;}
#customerEvent:hover, #customerEvent.active {background-position: -192px -96px !important;}
#customerFaq:hover, #customerFaq.active {background-position: -288px -96px !important;}
#customer1on1:hover, #customer1on1.active {background-position: -384px -96px !important;}
#customerPartnership:hover, #customerPartnership.active {background-position: -480px -96px !important;}

#popup-customer .highlight {background-image: none !important;}

/*Promo Content*/
.promo-items {display: block; margin: 10px 10px 10px 6px;}

.promo_group_body {display: block; background: #000; border: 1px solid #484a4f; cursor: pointer; margin-bottom: 10px;}
.promo_group_body:hover {border: 1px solid #e9b868;}
.promo_group_body_inner {padding: 0 !important;}

.promo_group_button {padding: 10px 0 3px 0; margin: 0 auto; text-align: center;}
.promo_group_button button {text-transform: uppercase; font-size: 11px;}

.promo_detail {padding: 10px 20px;}
.promo_detail h1 {font-weight: 600; font-size: 18px; color: #b7853b;}
.promo_detail p {font-size: 14px; color: #ffffff; line-height: 24px;}
.promo_detail ol {padding: 6px 0 0 28px;}
.promo_detail li {line-height: 20px; list-style-type: decimal;}

/*BG Slider*/
.masthead {width: 100%; height: 765px; display: block; position: absolute; top: 0;}
.masthead #preloader {/*display: none;*/ background: #000000;}
#slides-background {width: 100%; min-width: 1034px; position: absolute !important; top: 0; height: 765px; }
#slides {width: 100% !important; min-width: 1034px; height: 765px !important; margin: 0 auto;}
#slides .slides-container {display: none;}
#slides .scrollable {*zoom: 1; position:relative; top:0; left: 0; overflow-y: auto; -webkit-overflow-scrolling: touch; height: 100%;}
#slides .scrollable:after {content: ""; display: table; clear: both;}
#slides img {width: 1600px !important; height: 765px !important; margin-top: 0;}

#slides h2 {margin-top: 340px; font-size: 22px; font-size: 20px\9; font-weight: 600; color: #c4a25e; letter-spacing: 0; text-align: center; text-shadow: -2px 0 6px rgba(0,0,0,1);}
.slides-container img {width: 1600px !important; height: 765px !important;}
.slides-navigation {margin: 0 auto; position: absolute; z-index: 9; top: 225px; width: 100%;}
.slides-navigation a {position: absolute; display: block;}
.slides-navigation a.prev {left: 5%; width: 48px; height: 80px; background: url("../images/arrow.png") 0 -80px no-repeat;}
.slides-navigation a.prev:hover {background-position: 0 0;}
.slides-navigation a.next {right: 5%; width: 48px; height: 80px; background: url("../images/arrow.png") -48px -80px no-repeat;}
.slides-navigation a.next:hover {background-position: -48px 0;}

.slides-pagination {position: absolute; z-index: 9; bottom: 0; text-align: center; width: 100%;}
.slides-pagination a {border-radius: 19px; width: 14px; height: 14px; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; background: #2b2b2b; border: 2px solid #000000; margin: 2px; overflow: hidden; text-indent: -100px;}
.slides-pagination a:hover, .slides-pagination a.current {background: url("../images/bg-slide-page.png") top repeat-x;}
.containerArrow {width: 1090px; padding: 0; margin: 0 auto; position: relative;}

/*Pagination*/
.simple-pagination-page-numbers a {}
.pagination a {display: inline-block; width: 30px; height: 30px; line-height: 30px; margin: 0 2px; color: #d4d4d4; text-align: center; text-decoration: none; border-radius: 3px; border-width: 1px 1px 1px 1px; border-style: solid; border-color: #020303 #030303 #030304 #030304;
    -webkit-box-shadow: inset 1px 1px 1px 0 #3b3b3b;
    -moz-box-shadow: inset 1px 1px 1px 0 #3b3b3b;
    box-shadow: inset 1px 1px 1px 0 #3b3b3b;
    background: #2a2a2c;
    background: -moz-linear-gradient(top,  #2a2a2c 0%, #252527 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2a2c), color-stop(100%,#252527));
    background: -webkit-linear-gradient(top,  #2a2a2c 0%,#252527 100%);
    background: -o-linear-gradient(top,  #2a2a2c 0%,#252527 100%);
    background: -ms-linear-gradient(top,  #2a2a2c 0%,#252527 100%);
    background: linear-gradient(to bottom,  #2a2a2c 0%,#252527 100%);
}
.pagination a:hover {
    -webkit-box-shadow: inset 1px 1px 1px 0 #424245;
    -moz-box-shadow: inset 1px 1px 1px 0 #424245;
    box-shadow: inset 1px 1px 1px 0 #424245;
    background: #3a3a3c;
    background: -moz-linear-gradient(top,  #3a3a3c 0%, #303033 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3a3c), color-stop(100%,#303033));
    background: -webkit-linear-gradient(top,  #3a3a3c 0%,#303033 100%);
    background: -o-linear-gradient(top,  #3a3a3c 0%,#303033 100%);
    background: -ms-linear-gradient(top,  #3a3a3c 0%,#303033 100%);
    background: linear-gradient(to bottom,  #3a3a3c 0%,#303033 100%);
}
a[class^="simple-pagination-navigation-"] + a[class^="simple-pagination-navigation-"] {}
a[class*="simple-pagination-navigation-disabled"], a[class*="simple-pagination-navigation-disabled"]:hover {
    color: #eeeeee; cursor: default;
    -webkit-box-shadow: inset 1px 1px 1px 0 #4c4c4f;
    -moz-box-shadow: inset 1px 1px 1px 0 #4c4c4f;
    box-shadow: inset 1px 1px 1px 0 #4c4c4f;
    background: #424245;
    background: -moz-linear-gradient(top,  #424245 0%, #3b3b3e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424245), color-stop(100%,#3b3b3e));
    background: -webkit-linear-gradient(top,  #424245 0%,#3b3b3e 100%);
    background: -o-linear-gradient(top,  #424245 0%,#3b3b3e 100%);
    background: -ms-linear-gradient(top,  #424245 0%,#3b3b3e 100%);
    background: linear-gradient(to bottom,  #424245 0%,#3b3b3e 100%);
}

.pagination:after {content: ""; display: table; clear: both;}
.pagination {display: block; /*background: #212123; */border-radius: 3px; /*border-width: 1px 1px 1px 1px; border-style: solid; border-color: #070708 #0d0d0f #131316 #0d0d0f;*/ padding: 9px; margin: 10px 0; text-align: center;
    /* -webkit-box-shadow: inset 1px 1px 1px 0 #2c2d36;
     -moz-box-shadow: inset 1px 1px 1px 0 #2c2d36;
     box-shadow: inset 1px 1px 1px 0 #35363e;*/
}
.pagination div + div {margin-left: .5rem;}

.simple-pagination-page-numbers, .simple-pagination-previous, .simple-pagination-next {display: inline-block;}


.css-form .tq-validate.ng-invalid {
    background-color: #FA787E;
}

/*Slot*/
.slot-categories {display: block; position: relative;}
.slot-btn {opacity: 0; width: 336px; height: 136px; display: inline-block; margin: 10px 4px 0 0; cursor: pointer; border: 3px solid #363b41;}
.slot-btn1 {background: url("../images/slot-microgaming.png") 0 0 no-repeat;}
.slot-btn2 {background: url("../images/slot-betsoft.png") 0 0 no-repeat;}
.slot-btn3 {background: url("../images/slot-newopus.png") 0 0 no-repeat;}
.slot-btn4 {background: url("../images/slot-hogame.png") 0 0 no-repeat; margin-right: 0 !important;}

.slot-btn:hover, .slot-btn.active {border: 3px solid #03ffa7;}

.projackpot {float: right; text-align: right; margin: 93px 10px 0 0; width: 158px;}
.projackpot span {display: block; font-family: "Myriad Set Pro"; font-weight: 400; color: #999999;}
.projackpot strong {font-family: "Myriad Set Pro"; font-weight: 700; font-size: 20px; color: #ffd200; float: left;}

.slot-content {width: 1385px; height: 629px; margin: 18px auto 0 auto; border: 1px solid #151f24; border-bottom: 2px solid #283034; background: url("../images/bg-slot-content2.png");}
.slot-sub-nav {display: block; position: relative; margin: 0 10px;}
.slot-sub-nav li {display: inline; color: #a7a7a7; font-weight: 600; font-size: 14px; cursor: pointer; padding: 6px 10px; line-height: 50px; border-right: 1px solid #212121; text-shadow: none;}
.slot-sub-nav li:hover {color: #ffffff;}
.slot-sub-nav li.active {color: #ffffff; background: #b70f1d;}

.slot-close, .sport-close {background: url("../images/popup-close2.png") 0 0 no-repeat; width: 21px; height: 21px; opacity: .30; cursor: pointer; position: absolute; top: 14px; right: 14px;}
.slot-close:hover, .sport-close:hover {opacity: .50}

/*Slot Slider*/
#main-slider,#1005-slider,#1004-slider,#1000-slider,#1013-slider {width:100%;}

.slot-list {width: 978px; margin: 0 auto; padding: 5px 0;}
.slot-item {width: 146px; height: 170px; text-align: center; float: left; position: relative; border: 1px solid #333333;cursor: pointer; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; background-color: #181818;}
.slot-box {width: 146px; height: 170px; text-align: center; float: left; margin: 8px; position: relative; cursor: pointer;}
.slot-item p { padding: 0; text-align: center;position: absolute;bottom: 0;width: 100%;height: 30px;line-height: 30px;background-color: #000; -webkit-border-bottom-left-radius: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-radius-bottomleft: 3px; -moz-border-radius-bottomright: 3px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;}
.slot-item:hover {border-color: #c99f3c; color:#c99f3c;}

.slot-item a {font: bold 12px Arial; color: #999999; text-decoration: none;}
.slot-item a:hover, .slot-item a:active, .slot-item a:focus {color: #c99f3c;}
.slot-item a img {border: 1px solid #333333; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.slot-item a:hover img, .slot-item a:active img, .slot-item a:focus img {border-color: #c99f3c;}

.currentPanel{height: 578px;}

/*Slot Item - Hover*/
div.slot-item-hover {opacity: 0;}
div.slot-box > div.slot-item {transition:opacity 0.1s linear;}
div.slot-box:hover > div.slot-item {opacity:0;}
div.slot-box > div.slot-item-hover {opacity:0; transition:opacity 0.5s linear; width: 156px; height: 186px; top: -5px; left: -5px; position: absolute; text-align: center; border: 1px solid #c99f3c; background-size: 200%; cursor: pointer; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; box-shadow: 0 0 15px #000000; z-index: 999999;}
div.slot-box:hover > div.slot-item-hover {opacity:1;}
.slot-item-hover p {color: #c99f3c; padding: 6px 0; text-align: center;position: absolute;bottom: 0;width: 100%;line-height: 18px;background-color: #000; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;}

/*Slot Slider*/
.no-js .liquid-slider {height: 568px; overflow:scroll;}
.ls-preloader {background: #f2f2f2 no-repeat center 50%; opacity:1; width:100%; height:100%; position:absolute; top:0; left:0; z-index:2;}

.ls-wrapper {/*clear: both; */position: relative; width: 1024px !important; max-width: 1024px !important; height: 577px;}
h2.title {padding: 0; margin: 0;}
.liquid-slider {width: 1024px; height: 568px !important; overflow: hidden; position: relative;}
.arrows .liquid-slider {margin: 0 10px;}
.ls-responsive .liquid-slider {/*width: 922px;*/ margin: 0 auto;}
.panel-container {position: relative; -webkit-backface-visibility: hidden; -webkit-perspective: 1000px;}
.liquid-slider .panel-container .fade {width:100%; opacity: 0; position: absolute; top: 0; left: 0; display: block;}

.liquid-slider .panel {width: 1024px !important; display: block; float: left;}
.panel-wrapper {position:relative; left: 0; height: 578px;}

.ls-nav {overflow:hidden; clear:both; position: absolute !important; text-align: center; border-top: 1px solid #333333; border-bottom: 1px solid #0f0f0f; padding:10px 0 11px 0; width: 100%; bottom: -55px; z-index: 9999; display: table-cell;}
.ls-nav h2.title{overflow:hidden; clear:both;}
.ls-nav a {background: #292929; padding: 0 4px; height: 8px; outline:0; margin-right: 8px; cursor: pointer;}
.ls-nav a:hover {background: #c99f3c; text-shadow: none; cursor: pointer;}
.ls-nav .current a {background: #c99f3c; cursor: pointer;}
.currentCrossLink {font-weight: bold;}
.ls-nav ul {padding:0; clear: both; float: none !important; display: inline-block !important; margin: 0 auto; overflow: hidden;}
.ls-nav ul li {display: inline;}
.ls-nav ul li a {display: block; float: left; text-decoration: none; cursor: pointer;}

.ls-select-box {width: 100%; height: 35px; overflow: hidden;}
.ls-select-box select {width: 150%; -webkit-appearance: none; -moz-appearance: none; appearance:none; background: transparent; padding: 5px; font-size: 110%; border: none; height: 35px; cursor:pointer; outline: 0;}

.ls-nav-left, .ls-nav-right {top:0; float: left; clear:both;}
.ls-nav-left a, .ls-nav-right a {background: #000; color: #fff; padding: 5px; width: 100px; display: block; text-align: center; text-decoration: none;}
.ls-responsive .ls-nav-left {position: absolute; left: 20px; z-index: 2;}
.ls-responsive .ls-nav-left a {background: #9A9A9A; width: 80px;}
.ls-responsive .ls-nav-left a:hover {background: #747474;}
.ls-responsive .ls-nav-right {position: absolute; right: 20px; z-index: 2;}
.ls-responsive .ls-nav-right a {background: #9A9A9A; width: 80px;}
.ls-responsive .ls-nav-right a:hover {background: #747474;}

.ls-nav-left-arrow, .ls-nav-right-arrow {cursor: pointer; float: left; clear: both; visibility: visible !important; opacity: 10 !important;}
.ls-nav-left-arrow a, .ls-nav-right-arrow a {display: block;width: 14px; height: 34px;}
.ls-nav-left-arrow, .ls-nav-right-arrow {width: 14px; height: 34px; background: url("../images/arrow-slot-silder.png") no-repeat; margin-top: 50px; position:relative;}
/*[class$="-arrow"] {width: 14px; height: 34px; background: url("../images/arrow-slot-silder.png") no-repeat; margin-top: 50px; position:relative;}*/
.ls-nav-right-arrow {background-position: top right;}
.ls-nav-left-arrow {background-position: top left;}
.ls-nav-left-arrow:hover {background-position: bottom left;}
.ls-nav-right-arrow:hover {background-position: bottom right;}
.ls-responsive .ls-nav-left-arrow {position: absolute; left: 8px; top: 220px; z-index: 2;}
.ls-responsive .ls-nav-right-arrow {position: absolute; right: 10px; top: 220px; z-index: 2;}

.ls-hidden {visibility: visible !important; opacity: 10 !important;}

.slot-new1 {width: 55px;height: 55px;background: url("../images/icon-new2.png") no-repeat;position: absolute;top: -4px;left: -4px;}

.slot-top01, .slot-top02, .slot-top03, .slot-top04, .slot-top05, .slot-top06, .slot-top07, .slot-top08, .slot-top09, .slot-top10, .slot-top11, .slot-top12, .slot-top13, .slot-top14, .slot-top15,
.slot-top16, .slot-top17, .slot-top18, .slot-top19, .slot-top20, .slot-top21, .slot-top22, .slot-top23, .slot-top24, .slot-top25 {
    width: 46px; height: 47px; position: absolute; top: -16px; right: -15px; background: url("../images/icon-top.png") no-repeat;
}

.slot-top01 {background-position: 0 0;}
.slot-top02 {background-position: -46px 0;}
.slot-top03 {background-position: -92px 0;}
.slot-top04 {background-position: -138px 0;}
.slot-top05 {background-position: -184px 0;}
.slot-top06 {background-position: 0 -46px;}
.slot-top07 {background-position: -46px -46px;}
.slot-top08 {background-position: -92px -46px;}
.slot-top09 {background-position: -138px -46px;}
.slot-top10 {background-position: -184px -46px;}
.slot-top11 {background-position: 0 -92px;}
.slot-top12 {background-position: -46px -92px;}
.slot-top13 {background-position: -92px -92px;}
.slot-top14 {background-position: -138px -92px;}
.slot-top15 {background-position: -184px -92px;}
.slot-top16 {background-position: 0 -138px;}
.slot-top17 {background-position: -46px -138px;}
.slot-top18 {background-position: -92px -138px;}
.slot-top19 {background-position: -138px -138px;}
.slot-top20 {background-position: -184px -138px;}
.slot-top21 {background-position: 0 -184px;}
.slot-top22 {background-position: -46px -184px;}
.slot-top23 {background-position: -92px -184px;}
.slot-top24 {background-position: -138px -184px;}
.slot-top25 {background-position: -184px -184px;}

/*Width*/
.width10 {width: 10%;}
.width12 {width: 12%;}
.width14 {width: 14%;}
.width15 {width: 15%;}
.width16 {width: 16%;}
.width18 {width: 18%;}
.width20 {width: 20%;}
.width25 {width: 25%;}
.width28 {width: 28%;}
.width30 {width: 30%;}
.width33 {width: 33%;}
.width34 {width: 34%;}
.width35 {width: 35%;}
.width40 {width: 40%;}
.width45 {width: 45%;}
.width46 {width: 46%;}
.width49 {width: 49%;}
.width50 {width: 50%;}
.width55 {width: 55%;}
.width60 {width: 60%;}
.width64 {width: 64%;}
.width65 {width: 65%;}
.width69 {width: 69%;}
.width70 {width: 70%;}
.width75 {width: 75%;}
.width80 {width: 80%;}
.width85 {width: 85%;}
.width90 {width: 90%;}
.width95 {width: 95%;}
.width97 {width: 97%;}
.width98 {width: 98%;}
.width99 {width: 99%;}
.width100 {width: 100%;}


/*Footer*/
.footer-container {display: block; margin: 0; background: url("../images/bg-footer.png") top repeat-x #080d0e; border: 5px solid #f8d8a0; border-top: none;}
.footer-container h1 {display: block; color: #ffffff !important; font-size: 14px !important; line-height: 24px; border: none !important;}
.footer-logos ul {display: block; list-style: none; margin: 0; padding: 0; height: 60px;}
.footer-logos li {list-style: none; display: inline; padding: 20px 8px 5px 7px; text-align: center; float: left;}

.footer-details, .copyright {display: block; clear: both; padding: 10px 0; margin: 0 10px 10px 10px;}
.customer-care {width: 452px; padding: 5px 20px 5px 35px; float: left; text-align: right; border-right: 1px solid #292929;}
.customer-care p {display: block; color: #999999; font-size: 12px; text-align: right; line-height: 16px;}

.security-game {width: 452px; padding: 5px 20px; float: right; text-align: left;}
.security-game p {display: block; color: #999999; font-size: 12px; text-align: left; line-height: 16px;}

.copyright {background: #1c1c1c; color: #999999; text-align: center;}
.copyright span {color: #ffffff;}

.slots-container .footer-container {margin: 56px 0 10px 0;}

/*.copyright {width: 1004px; height: 188px; margin-top: 20px; background: url("../images/copyright.png") top center no-repeat;}*/

/*Popup - Terms*/
#popup-terms {display:none; margin-top: 10px; background: url("../images/bg-popup.png") 0 0 no-repeat #15161a; color: #cccccc; min-width: 450px; width: 778px; border: 5px solid #d29b3d; border-radius: 3px; box-shadow: inset 0 1px 5px #000;}
#popup-terms h1.logo {margin: 10px auto; display: block;}
#popup-terms h2, #popup-terms h4 {text-align: center; padding: 4px 90px;}
#popup-terms h2 {margin-top: 15px; font-size: 20px; color: #e3b571;}
#popup-terms h4 {line-height: 15px;}
#popup-terms .terms-content {padding: 20px 10px 10px 20px; font-size: 13px; line-height: 18px; height: 400px; text-align: left; margin: 15px; display: block;
    background-color: #000000;
    background: -moz-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.4) 100%);
    background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(0,0,0,0.4)),color-stop(100%,rgba(0,0,0,0.4)));
    background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.4) 100%);
    background: -o-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.4) 100%);
    background: -ms-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.4) 100%);
    background: radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000',endColorstr='#e6000000',GradientType=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
}
#popup-terms .terms-content .mCSB_inside > .mCSB_container {margin-right: 19px !important;}
#popup-terms .terms-content p {margin-bottom: 10px;}

/*Popup - Notice*/
#popup-notice {display:none; margin-top: 10px; background: url("../images/bg-popup.png") 0 0 no-repeat #15161a; color: #cccccc; min-width: 450px; width: 778px; border: 5px solid #d29b3d; border-radius: 3px; box-shadow: inset 0 1px 5px #000;}
#popup-notice h1.logo {margin: 16px auto -5px auto; display: block;}
#popup-notice h2, #popup-notice h4 {text-align: center; padding: 4px 90px;}
#popup-notice h2 {margin-top: 15px; font-size: 20px; color: #e3b571;}
#popup-notice h4 {line-height: 15px;}
#popup-notice .notice-content {padding: 20px 10px 10px 20px; font-size: 13px; line-height: 18px; height: 400px; text-align: left; margin: 15px 15px 0 15px; display: block;
    background-color: #000000;
    background: -moz-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.4) 100%);
    background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(0,0,0,0.4)),color-stop(100%,rgba(0,0,0,0.4)));
    background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.4) 100%);
    background: -o-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.4) 100%);
    background: -ms-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.4) 100%);
    background: radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000',endColorstr='#e6000000',GradientType=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
}
#popup-notice .notice-content .mCSB_inside > .mCSB_container {margin-right: 19px !important;}
#popup-notice .notice-content p {margin-bottom: 10px;}

#popup-notice p span {display: inline; cursor: pointer; margin: 0 4px;}
#popup-notice p span.txt-gold {color: #c4944a;}
#popup-notice p span.txt-gold:hover {color: #eeb762;}

#popup-notice p span.txt-gray {color: #cccccc;}
#popup-notice p span.txt-gray:hover {color: #ffffff;}

.notice-close {padding: 17px 23px; text-align: right; color: #333333;}

.ls-nav, ul li .tab1, ul li .tab2, ul li.tab3 {display: none;}


#popup-customer tr:hover td {color: #fff; cursor: pointer;}



/*Popup - Demo*/
#popup-demo {display:none; margin-top: 10px; background: url("../images/bg-popup.png") 0 0 no-repeat #15161a; color: #cccccc; min-width: 450px; width: 778px; border: 5px solid #d29b3d; border-radius: 3px; box-shadow: inset 0 1px 5px #000;}
#popup-demo span.btn-popup-close {margin: -5px -60px 0 0;}

.demo-links ul {width: 778px; height: 53px; background-color: #111315; border-bottom: 1px solid #3b3f44;}
.demo-links ul li {height: 53px; line-height: 53px; list-style: none; float: left; display: inline-block; cursor: pointer; margin: 0; padding: 0 20px; font-size: 18px; color: #687084; text-align: center; text-shadow: none;}
.demo-links ul li:hover, .demo-links ul li.active {color: #ffffff;}

.demo-content {padding: 5px; position: relative;}
.demo-slide {width: 752px; height: 483px; margin: 8px auto; background: #000; border: 1px solid #1e1f22;}

#slides-demo-register, #slides-demo-deposit, #slides-demo-withdraw, #slides-demo-transfer {width: 752px !important; height: 508px !important; margin: 0 auto; position: relative !important;}
.demo-slide .slides-container {display: none;}
.demo-slide .scrollable {*zoom: 1; position:relative; top:0; left: 0; overflow-y: auto; -webkit-overflow-scrolling: touch; height: 100%;}
.demo-slide .scrollable:after {content: ""; display: table; clear: both;}
.demo-slide img {width: 752px !important; height: 483px !important;}

.demo-slide .slides-container img {width: 752px !important; height: 483px !important; left: 0 !important; top: 0 !important;}
.demo-slide .slides-navigation {margin: 0 auto; position: absolute; z-index: 999; top: 490px; width: 100%;}
.demo-slide .slides-navigation a {position: absolute; display: block; color: #7f7f7f; text-indent: 0; font-size: 14px; line-height: 18px;}
.demo-slide .slides-navigation a:hover {color: #fff;}
.demo-slide .slides-navigation a.prev {left: 2px;}
.demo-slide .slides-navigation a.prev:hover {background-position: 0 0;}
.demo-slide .slides-navigation a.next {right: 340px;}
.demo-slide .slides-navigation a.next:hover {background-position: -48px 0;}

.icon-arrownext {display: inline-block; float: right; width: 18px; height: 18px; margin: 0 3px; background: url("../images/demo-arrow.png") -18px 0 no-repeat;}
.demo-slide .slides-navigation a.next:hover .icon-arrownext {background-position: -18px -18px;}
.icon-arrowprev {display: inline-block; float: left; width: 18px; height: 18px; margin: 0 3px; background: url("../images/demo-arrow.png") 0 0 no-repeat;}
.demo-slide .slides-navigation a.prev:hover .icon-arrowprev {background-position: 0 -18px;}

.demo-slide .slides-pagination {position: absolute; z-index: 9; bottom: 0; width: 100%; padding: 2px 0; text-align: center; /*background: url("../images/button-overlay.png") top repeat-x #4a4a4a;*/}
.demo-slide .slides-pagination a {border-radius: 0px; width: 30px; height: 8px; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; margin: 2px; overflow: hidden; text-indent: -100px; /*border: 2px solid #000000;*/ border: none; background: url("../images/button-overlay2.png") top repeat-x #4a4a4a;}
.demo-slide .slides-pagination a:hover {background-color: #888888;}
.demo-slide .slides-pagination a.current {background-color: #d29b3d;}
.demo-slide .containerArrow {width: 1090px; padding: 0; margin: 0 auto; position: relative;}

.demo-img {width: 752px; height: 508px;}
.demo-content h2 {font-size: 14px; color: #000000; letter-spacing: 0; background: #fff; padding: 10px; border-radius: 6px; text-shadow: none;}

.step-number {position: absolute;
    z-index: 9999999999 !important;
    padding: 2px;
    font-family: Arial, verdana, tahoma;
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    background: #ff3019;
    background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404));
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    background: -ms-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    background: -o-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    background: linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 3px solid white;
    border-radius: 50%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.Shadow(direction=135, strength=2, color=ff0000);
    box-shadow: 0 2px 5px rgba(0,0,0,.4);
}

/*Demo Register*/
.demo-register h2.step1 {margin: 44px 0 0 443px; width: 250px;}
.demo-register h2.step1 span.step-number {top: 46px; left: 406px;}

.demo-register h2.step2 {margin: 163px 0 0 509px; width: 207px;}
.demo-register h2.step2 span.step-number {top: 127px; left: 510px;}

.demo-register h2.step3 {margin: 280px 0 0 343px; width: 354px;}
.demo-register h2.step3 span.step-number {top: 281px; left: 309px;}

/*Demo Deposit*/
.demo-deposit h2.step1 {margin: 47px 0 0 407px; width: 293px;}
.demo-deposit h2.step1 span.step-number {top: 50px; left: 372px;}

.demo-deposit h2.step2 {margin: 115px 0 0 379px; width: 283px;}
.demo-deposit h2.step2 span.step-number {top: 118px; left: 350px;}

.demo-deposit h2.step3 {margin: 227px 0 0 53px; width: 312px;}
.demo-deposit h2.step3 span.step-number {top: 191px; left: 54px;}

.demo-deposit h2.step4 {margin: 150px 0 0 323px; width: 312px;}
.demo-deposit h2.step4 span.step-number {top: 153px; left: 284px;}

.demo-deposit h2.step5 {margin: 180px 0 0 443px; width: 230px;}
.demo-deposit h2.step5 span.step-number {top: 143px; left: 444px;}

/*Demo Withdraw*/
.demo-withdraw h2.step1 {margin: 47px 0 0 371px; width: 326px;}
.demo-withdraw h2.step1 span.step-number {top: 50px; left: 332px;}

.demo-withdraw h2.step2 {margin: 115px 0 0 389px; width: 293px;}
.demo-withdraw h2.step2 span.step-number {top: 118px; left: 350px;}

.demo-withdraw h2.step3 {margin: 293px 0 0 236px; width: 322px;}
.demo-withdraw h2.step3 span.step-number {top: 255px; left: 237px;}

.demo-withdraw h2.step4 {margin: 312px 0 0 486px; width: 196px;}
.demo-withdraw h2.step4 span.step-number {top: 313px; left: 450px;}

/*Demo Transfer*/
.demo-transfer h2.step1 {margin: 47px 0 0 479px; width: 206px;}
.demo-transfer h2.step1 span.step-number {top: 50px; left: 440px;}

.demo-transfer h2.step2 {margin: 46px 0 0 359px; width: 343px;}
.demo-transfer h2.step2 span.step-number {top: 49px; left: 320px;}

.demo-transfer h2.step3 {margin: 101px 0 0 461px; width: 237px;}
.demo-transfer h2.step3 span.step-number {top: 62px; left: 462px;}

.demo-transfer h2.step4 {margin: 241px 0 0 236px; width: 456px;}
.demo-transfer h2.step4 span.step-number {top: 203px; left: 237px;}

.oneDay {color: #c4944a;}
.oneDay:hover {color: #eeb762;}


.error-terms, .error-over18 {position: absolute; top: 4px; right: 2px; line-height: 13px; height: 26px; padding: 5px 0 5px 10px; width: 163px; text-align: left; text-shadow: none; color: #fff; font-size: 11px; background: url("../images/bg-form-error2.png") 0 0 no-repeat;}
.btn-over18.btn-green {pointer-events: none !important;}