/* http://meyerweb.com/eric/tools/css/reset/  - v2.0 | 20110126 - License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {display: block;}
body {line-height: 1; overflow-y: scroll;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}

html {-webkit-text-size-adjust: 100%;}
* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
* {appearance:normal; -webkit-appearance: normal; -moz-appearance: normal; margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; outline: none; font-size-adjust: none; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

img, a img, a, a:hover, a:visited, a:active, a:link {border: none; text-decoration: none;}
a {line-height: 28px; color: #999999;}
a:hover, a.active {color: #e6c65d;}
input, textarea, button, select {outline: 0; font-family: 'Sukhumvit', sans-serif;}
a, button {cursor: pointer;}
.clear {clear: both;}

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}

.float-left {float: left;}
.float-right {float: right;}

.opacity0 {opacity: 0;}
.padding45 {padding-top: 45px !important;}

body {background-color: #0f0f0f; color: #ffffff; font-family: 'Sukhumvit', sans-serif;}
#top-container {width: 100%; height: 1px; padding-top: 60px;}

/*Preloader*/
#preloader {position:fixed;	top:0; left:0; right:0; bottom:0; background:#0f0f0f; z-index:99999999;}
#status {z-index:99999999; width: 250px; position:absolute; left:50%; top:50%; margin: -55px 0 0 -125px;}

/*Nav*/
.nav-bar {background: url("../images/bg-header.png") top repeat-x #000000; height: 60px; position: fixed; right: 0; left: 0; z-index: 9999;}
.nav-bar button, .navbar div {display: inline-block; z-index: 999999}

.nav-bar button {width: 60px; height: 60px; border: none; padding: 0; cursor: pointer;}
.nav-bar button.btn-menu {position: absolute; top: 0; left: 0;}
.nav-bar button:last-child {position: absolute; top: 0; right: 0;}

.nav-bar button.btn-menu {background: url("../images/icon-menu.png") 0 0;}
.nav-bar button.btn-menu-close-bg {background: url("../images/icon-close.png") 0 0 rgba(0,0,0,0.2) !important;}
.nav-bar button.btn-menu-close {background: url("../images/icon-close.png") 0 0 rgba(0,0,0,0.2) !important; display: none;}

.nav-bar button.btn-login {background: url("../images/icon-login.png") 0 0;}
.nav-bar button.btn-menu:hover {background-color: rgba(0,0,0,0.2);}

.nav-header {width: 100%; height: 60px; position: absolute; z-index: 10;}
.logo {width: 100%; position: relative;}
.logo img {cursor: pointer;}

/*Language Option*/
.nav-bar button.btn-lang {width: 40px; height: 60px; border: none; padding: 0; cursor: pointer; position: absolute; top:
0; right: 50px; background: transparent;}

#lang-list {display: none; position: absolute; z-index: 99999; right: 0; top: 60px; box-shadow: 2px 2px 25px #000;}
#lang-list ul {border-radius: 2px;}
#lang-list li {line-height: 24px; padding: 14px 20px 14px 10px; cursor: pointer; background: #000000; font-size: 14px;
    display: block; width: 100%; border-bottom: 1px solid #212121;}
#lang-list li:last-child {border-bottom: none;}
#lang-list li:hover, #lang-list li.active {color: #ffffff; background: #b87b30;}
.icon-lang {width: 24px; height: 24px; margin: 0 10px 0 3px; display: inline-block; float: left;}
.icon-thai {background: url("/mobile/images/flag/thai.png") no-repeat;}
.icon-eng {background: url("/mobile/images/flag/eng.png") no-repeat;}
.icon-chi {background: url("/mobile/images/flag/chi.png") no-repeat;}

/*Banner*/
section#banner {background: url("../images/masthead2.png") top center #0f0f0f no-repeat; color: #eccb8c; text-align: center; width: 100%; height: 360px; position: fixed; z-index: -1;}
section#banner p {font-size: 18px; font-weight: 600; text-shadow: 1px 1px 1px rgba(0,0,0,0.5); letter-spacing: -1px; margin-top: 65px; line-height: 25px;}

section#promo-banner {width: 100%; display: block; position: absolute; z-index: 9; text-align: center; top: 55px;}
section#promo-banner p {background-color: #fae3b6; border: 1px solid rgba(255,255,255,0.4); border-radius: 8px; color: #202020; font-size: 20px; font-weight: 600; text-align: center; letter-spacing: -1px; margin: 209px auto 0 auto; width: 70%; padding: 13px; box-shadow: 0px 2px 50px rgba(0,0,0,0.4);}

/*section#promo-banner button.btn-signup {color: #ffffff; font-size: 18px; font-weight: 600; background: transparent; border-radius: 6px; border: 2px solid #00f797; padding: 0.2em 0.8em; text-shadow: 1px 1px 1px rgba(0,0,0,0.5); letter-spacing: -1px; cursor: pointer; margin-top: 10px;}
section#promo-banner button.btn-signup:hover {border-color: #62e2b0;}*/

/*Fixed*/
.main-container {width: 100%; position: absolute; top: 345px; z-index: 999; background-color: #0f0f0f; min-height: 200px; padding-bottom: 35px; display: block;}

/*Main Categories*/
#main-categories {width: 100%; display: block; background: #282828; height: 50px;}
#main-categories ul {margin: 0; padding: 0;}
#main-categories li {list-style: none; float: left; margin: 0 1px 0 0; width: 33%; text-align: center; font-size: 16px; text-shadow: 1px 1px 1px rgba(0,0,0,0.5); color: #5b5b5b; border-radius: 0; line-height: 50px; cursor: pointer;}
#main-categories li:last-child {margin-right: 0;}
#main-categories li:hover {color: #ffffff; background: #3a3a3a;}
#main-categories li.active {color: #ffffff; background: #b87b30;}

/*Page Content*/
.page-content {display: none; width: 100%; height: 100%; background: #0f0f0f; top: 0; z-index: 999999; font-family: 'Sukhumvit'; padding: 10px 0 20px 0;}
.page-content h1 {width: 90%; margin: 0 auto; border-bottom: 1px solid #333; text-align: center; font-weight: 700; line-height: 32px;}
.page-form {width: 90%; margin: 0 auto; }
.page-content label {display: block; width: 90%; line-height: 34px; margin: 4px auto 0 auto; }
.page-content input[type=text], .page-content input[type=password], .page-content select {width: 90%; line-height: 34px; margin: 0 auto 10px auto; font-size: 14px; display: block;}
.page-content select {height: 34px !important;}
.page-content textarea {width: 90%; margin: 0 auto 10px auto; font-size: 14px; display: block;}
.page-content em {display: block; width: 90%; line-height: 15px; margin: 4px auto 0 auto; font-size: 11px; color: #5a5a5c;}
.page-content button.btn-gold {display: block; width: 90%; margin: 0 auto; font-size: 16px;}

.form-notes {width: 90%; background: #282828; color: #707070; padding: 10px; margin: 10px auto; border-radius: 4px; font-size: 12px; line-height: 18px;}

/*Menu*/
.menu {width: 100%; height: 100%; background: #1a1a1a; display: none;}
.menu-content {max-width: 400px; margin: 0 auto;}
.show-username {background: #0f0f0f; color: #ffffff; padding: 14px;}
.show-username strong {color: #eccb8c; font-weight: 700;}

.my-wallet-locked {padding: 50px; text-align: center; background: #0f0f0f; color: #808080;}
.my-wallet-locked p {margin: 20px auto;}

.my-wallet-locked button {width: 80%; margin: 6px auto; display: block;}

section#transfer {display: block; margin: 0; background: #000000;}
section#transfer h1 {background: #282828; border-bottom: 1px solid #333; color: #bebec0; text-align: center; font-weight: 700;  height: 42px; line-height: 42px;}
.transfer-form {padding: 10px 20px 20px 20px; background: #1a1a1a;/* border-left: 1px solid #282828;*/}
.transfer-form label, .transfer-form select, .transfer-form input, .transfer-form button {display: block; width: 100%; margin: 0 auto;}
.transfer-form label {font-size: 14px; margin: 0 auto 5px auto;}
.transfer-form select, .transfer-form input {line-height: 40px; margin: 0 auto; font-size: 14px; display: block;}

.transfer-form div.row-form {padding: 7px 0; margin: 0 10px 3px 10px;}
.transfer-form button {pading: 0 10px; margin: 0 auto;}


section#links {padding: 10px; background: #0f0f0f;}
section#links li {background: #282828; display: block; padding: 0 10px; margin: 6px 10px; line-height: 44px; font-weight: 700; text-align: center; cursor: pointer;}
section#links li:hover, section#links li:focus {background: #3a3a3a; color: #eccb8c;}

section#links li.link-logout {color: #ffffff; border: 1px solid #5a5a5c; font-size: 16px; text-transform: uppercase; text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    background: #e1a565; /* Old browsers */
    background: -moz-linear-gradient(top,  #e1a565 0%, #d48027 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1a565), color-stop(100%,#d48027)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e1a565 0%,#d48027 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e1a565 0%,#d48027 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e1a565 0%,#d48027 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e1a565 0%,#d48027 100%); /* W3C */
}
section#links li.link-logout:hover{
    border-color: transparent;
    background: #e3ac71; /* Old browsers */
    background: -moz-linear-gradient(top,  #e3ac71 0%, #d78a38 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3ac71), color-stop(100%,#d78a38)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e3ac71 0%,#d78a38 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e3ac71 0%,#d78a38 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e3ac71 0%,#d78a38 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e3ac71 0%,#d78a38 100%); /* W3C */
}

/*Game Content*/
.game-content {display: block; position: relative; padding: 2px 0 0 0; background-color: #0f0f0f;}
.game-buttons {display: block; margin: 2px 0 0 0; position: relative;}
.game-buttons img {width: 100%; position: relative;}
.game-buttons h2 {position: absolute; margin: 38px 36px; z-index: 999; font-size: 28px; font-weight: 600; color: #eccb8c; letter-spacing: -1px; text-align: center; text-shadow: -2px 0 6px rgba(0,0,0,1);}
.game-buttons p {position: absolute; top: 72px; left: 36px; z-index: 999; font-size: 14px;}

/*Slot*/
#slots-content div.slot-item {border: 2px solid #272727; background-color: #1d1d1d;}

/*Sports*/
#sports-content div {color: #ffffff; font-weight: 400; padding: 20px; line-height: 20px;}

/*Accordion*/
.narrowchart {max-width: 400px; margin:0 auto;}
.accordion-rules-header {padding: 10px; position: relative; border-bottom: 1px solid #2d2d2d; cursor: pointer;}
.accordion-rules-header strong {color: #c39437; font-weight: 600; display: block; line-height: 30px;}
.accordion-rules-header span {color: #ffffff; font-weight: 700; display: block; text-transform: uppercase;}
.accordion-rules-body {padding: 10px; font-weight: 400; font-size: 14px; border-bottom: 1px solid #747474; line-height: 20px;}

.accordion-rules-header i {width: 26px; height: 26px; background: url("../images/icon-accordion-arrow.png") 0 0 no-repeat;    opacity: 0.2; position: absolute; right: 20px; top: 23px; -webkit-transition:all 300ms ease-in 0s; -moz-transition: all 300ms ease-in 0s; -o-transition: all 300ms ease-in 0s; transition: all 300ms ease-in 0s;}
.ui-state-active i {opacity: 1; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg);}

/*Scrollable Menu*/
.cd-tabs {display: inline-block; position: relative; width: 100%; margin: -5px auto 0 auto; text-shadow: 1px 1px 1px rgba(0,0,0,0.5);}
.cd-tabs:after {content: ""; display: table; clear: both;}
.cd-tabs::after {position: absolute; top: 0; right: 0; width: 125px; z-index: 1; pointer-events: none; background: -webkit-linear-gradient( right , #f8f7ee, rgba(248, 247, 238, 0)); background: linear-gradient(to left, #f8f7ee, rgba(248, 247, 238, 0)); visibility: visible; opacity: 1; -webkit-transition: opacity .3s 0s, visibility 0s 0s; -moz-transition: opacity .3s 0s, visibility 0s 0s; transition: opacity .3s 0s, visibility 0s 0s;}
.no-cssgradients .cd-tabs::after {display: none;}
.cd-tabs.is-ended::after {visibility: hidden; opacity: 0; -webkit-transition: opacity .3s 0s, visibility 0s .3s; -moz-transition: opacity .3s 0s, visibility 0s .3s; transition: opacity .3s 0s, visibility 0s .3s;}

.cd-tabs nav {width: 100%; position: relative; overflow: auto; -webkit-overflow-scrolling: touch; background: #161616;}
/*.cd-tabs-nav-fixed {position: fixed; z-index: 9999;}*/
/*.cd-tabs-content-top {top: 40px; z-index: 999; position: relative;}*/

.cd-tabs-navigation {width: 625px;}
.cd-tabs-navigation:after {content: ""; display: table; clear: both;}
.cd-tabs-navigation li {float: left;}
.cd-tabs-navigation a {position: relative; display: block; width: 125px; text-align: center; font-size: 13px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-weight: 700; color: #5b5b5b; padding: 5px 0; text-transform: uppercase;}
.no-touch .cd-tabs-navigation a:hover {color: #ffffff;}
.cd-tabs-navigation a.selected, .cd-tabs-navigation a.selected:hover {border-bottom: 2px solid #eccb8c; color: #eccb8c;}
.cd-tabs-navigation a::before {position: absolute; top: 12px; left: 50%; margin-left: -10px; display: inline-block; height: 20px; width: 20px;}

.cd-tabs-content {background: #0f0f0f;}
.cd-tabs-content li {display: none; padding: 0;}
.cd-tabs-content li.selected {display: block; -webkit-animation: cd-fade-in 0.5s; -moz-animation: cd-fade-in 0.5s; animation: cd-fade-in 0.5s;}
.cd-tabs-content li p {font-size: 14px; font-size: 0.875rem; line-height: 1.6; color: #8493bf; margin-bottom: 2em;}

@-webkit-keyframes cd-fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes cd-fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes cd-fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media (min-width: 576px) {
    .cd-tabs nav {width: 100%;}
}

/*Responsive Thumbnails*/
#slotItems {position:relative; display:block; white-space:nowrap; font-size:0; overflow:hidden; padding: 8px 4px; background: #0f0f0f;}
.slotTitle{display:block; width:100%; height:27px; margin:5px 0 0 0; font-weight: 400; font-size:12px; line-height: 22px; overflow:hidden; text-overflow:ellipsis; text-align:center !important; color: #ffffff;}
.slotItemBox{position:relative; display:inline-block; width:31%; max-width:146px; margin:1%; font-size:11px; text-align:left; text-decoration:none; vertical-align:top; overflow:hidden; float: left; background: #181818; border: 1px solid #333 !important; border-radius: 4px; -webkit-box-shadow: inset 0px 0px 1px 2px rgba(0,0,0,0.10); -moz-box-shadow: inset 0px 0px 1px 2px rgba(0,0,0,0.10); box-shadow: inset 0px 0px 1px 2px rgba(0,0,0,0.10);}
.slotItemBox img{display:inline-block; width:100%; width:auto\9; height:auto; vertical-align:middle; border:0; -ms-interpolation-mode:bicubic;}

.retractable-content{padding:10px 0; margin-bottom:0; font-size:0; text-align:left;}

.betsoft-item {height: 150px;}

@media (min-width:1026px){
    .slotItemBox{width:14%; max-width:none; margin:1.2%;}
    .slotItemBox:nth-child(6) ~ .slotItemBox{display:inline-block;}

    .betsoft-item {height: 150px;}
}
@media (max-width:1025px){
    .slotItemBox{width:14%; max-width:none; margin:1.2%;}
    .slotItemBox:nth-child(6) ~ .slotItemBox{display:inline-block;}

    .betsoft-item {height: 145px;}
}
@media (max-width:769px){
    .slotItemBox:nth-child(5) ~ .slotItemBox{display:inline-block;}

    .betsoft-item {height: 110px;}
}
@media (max-width:480px) {
    .slotItemBox{width:23%; max-width:none; margin:1%}
    .slotItemBox:nth-child(4) ~ .slotItemBox{display:none;}
    .slotItemBox:nth-child(4) ~ .slotItemBox{display:inline-block;}

    .betsoft-item {height: 90px;}
}



/*Footer*/
footer {background: #0f0f0f; color: #bebec0; border: 1px solid #151515; position: fixed; bottom: 0; width: 100%; z-index: 999999999;}

footer section#copyright {font-size: 11px; font-weight: 600; padding: 10px;}
footer section#copyright button {margin: 1em auto; padding: 0.6em 0.8em; font-weight: 600; display: block;}
footer section#copyright strong {color: #eccb8c;}

/*Login*/
h5 {color: #bebec0; font-size: 16px; text-align: center; text-transform: uppercase; line-height: 40px;}
hr {width: 90%; border: 0; height: 1px; margin: 10px auto; background: #1c1c1c;}

.login-container, .forgotpass-container {display: none;}
.login-content {padding: 14px; max-width: 400px; margin: 0 auto;}
.login-content p {width: 90%; margin: 0 auto;}
.login-content span {color: #bebec0; line-height: 31px; display: inline; float: left; cursor: pointer;}
.login-content span:hover {color: #ffffff;}
.login-content input[type=text], .login-content input[type=password], .login-content input[type=email] {width: 90%; line-height: 40px; margin: 0 auto 10px auto; font-size: 14px; display: block;}
.login-content button.btn-gold {width: 90%; margin: 0 auto 10px auto; display: block;}
.login-content button.btn-signup { width: 100%; padding: 4px 10px; font-size: 14px; font-weight: 700; text-shadow: 1px 1px 1px rgba(0,0,0,0.5);}

.slide-content-close {font-size: 16px; font-weight: 700; text-align: center; padding: 20px 0 9px 0; cursor: pointer; background: url("../images/bg-slide-content-close.png") top repeat-x #161b22; -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.75); -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.75); box-shadow: 0 5px 5px 0 rgba(0,0,0,0.75);}
.slide-content-close:hover {background-color: #232932;}

/*Signup*/
.signup-content input[type=text], .signup-content input[type=password], .signup-content input[type=email], .signup-content select {width: 90%; line-height: 34px; margin: 10px auto; font-size: 14px; display: block;}
.signup-content em {margin: 0 auto 6px auto;}
.signup-content label {display: none;}

/*Wallet*/
.wallet-container {display: none;}
.wallet-content {color: #bdbdbf; font-weight: 600; font-size: 14px; margin: 0 auto;}
.wallet-content h1 {background: #282828; border-bottom: 1px solid #333; color: #bebec0; text-align: center; font-weight: 700; height: 42px; line-height: 42px;}
.wallet-content ul {width: 100%; margin: 0 auto; padding: 0; border-right: 1px solid #282828;}
.wallet-content ul li {padding: 0 10px; line-height: 43px; border-bottom: 1px solid #282828; font-size: 14px;}
.wallet-content ul li:last-child {border-top: 1px solid #333; border-bottom: none;}
.wallet-content p {display: inline-block; width: 40%; text-align: right;}
.wallet-content span {color: #b87b30; display: inline-block; font-weight: 700;}
.wallet-content span em {color: #5a5a5c; margin: 0 10px;}

/*Form*/
input, select, textarea {color: #5a5a5c; font-family: 'Sukhumvit';}
.input-field {background: #e9e9e9; border: 2px solid #ffffff; border-radius: 2px; line-height: 30px; padding: 0 10px;}
select.input-field {height: 43px;}
.btn-lg {border-radius: 2px; line-height: 22px; padding: 10px 16px;}
.btn-md {border-radius: 2px; line-height: 22px; padding: 6px 16px;}

.row-form {display: block; padding: 0 0 3px 0; margin-bottom: 5px; border-bottom: 1px solid #1b1b1b; position: relative;}
.row-form:last-of-type {border-bottom: none;}
.row-form span.txt-required {color: red; position: absolute; top: 0; right: 4px;}

.error {color: red; width: 90%; font-size: 12px; margin: 0 auto 8px auto; display: block;}
.valid {color: green !important;}
.error-terms {text-align: left; padding-left: 23%; color: red; width: 90%; font-size: 12px; margin: 0 auto 8px auto; display: block; }


/*Buttons*/
.btn {font-family: 'Sukhumvit'; font-weight: 600;}
.btn-gold {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border: none;
    border-radius: 3px;
    letter-spacing: -1px;
    background: #e07d62; /* Old browsers */
    background: -moz-linear-gradient(top,  #e07d62 0%, #d85c3a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e07d62), color-stop(100%,#d85c3a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e07d62 0%,#d85c3a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e07d62 0%,#d85c3a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e07d62 0%,#d85c3a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e07d62 0%,#d85c3a 100%); /* W3C */
}
.btn-gold:hover, .btn-gold:focus, .btn-gold.focus, .btn-gold:active, .btn-gold.active {
    color: #ffffff;
    border-color: #e1bf53;
    background: #3ff8b0;
    background: #ef8b70; /* Old browsers */
    background: -moz-linear-gradient(top,  #ef8b70 0%, #eb6e4c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef8b70), color-stop(100%,#eb6e4c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ef8b70 0%,#eb6e4c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ef8b70 0%,#eb6e4c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ef8b70 0%,#eb6e4c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ef8b70 0%,#eb6e4c 100%); /* W3C */
}
.btn-info {color: #ffffff; border: 1px solid #5a5a5c; font-size: 16px; text-transform: uppercase;
    background: #676f7c;
    background: -moz-linear-gradient(top,  #676f7c 0%, #5b6370 50%, #505865 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#676f7c), color-stop(50%,#5b6370), color-stop(100%,#505865));
    background: -webkit-linear-gradient(top,  #676f7c 0%,#5b6370 50%,#505865 100%);
    background: -o-linear-gradient(top,  #676f7c 0%,#5b6370 50%,#505865 100%);
    background: -ms-linear-gradient(top,  #676f7c 0%,#5b6370 50%,#505865 100%);
    background: linear-gradient(to bottom,  #676f7c 0%,#5b6370 50%,#505865 100%);
}
.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active {
    color: #ffffff; border-color: transparent;
    background: #747c8a;
    background: -moz-linear-gradient(top,  #747c8a 0%, #69717e 50%, #5d6573 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#747c8a), color-stop(50%,#69717e), color-stop(100%,#5d6573));
    background: -webkit-linear-gradient(top,  #747c8a 0%,#69717e 50%,#5d6573 100%);
    background: -o-linear-gradient(top,  #747c8a 0%,#69717e 50%,#5d6573 100%);
    background: -ms-linear-gradient(top,  #747c8a 0%,#69717e 50%,#5d6573 100%);
    background: linear-gradient(to bottom,  #747c8a 0%,#69717e 50%,#5d6573 100%);
}
.btn-link {color: #299b71; border-radius: 6px; background: transparent; border: 1px solid #5b5c5d; font-weight: normal;}
.btn-link:active, .btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link {-webkit-box-shadow: none; box-shadow: none;}
.btn-link:hover, .btn-link:focus, .btn-link:active {border-color: #ffffff; color: #62e2b0; background: transparent; text-decoration: none;}
.btn-link[disabled]:hover, fieldset[disabled] .btn-link:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:focus {color: #777777; text-decoration: none;}

button.btn:disabled {background: #b5b5b5 !important; cursor: default !important;}

.signup-terms-box {text-align: center; width: 90%; margin: 0 auto;}
.signup-terms-box button {width: 49%;}

.btn-green, .btn-green:visited {background: #5a8f47 !important;}
.btn-green:hover {background: #659b52 !important;}

/*Responsive*/
@media (max-width: 360px) {
    .nav-bar button.btn-lang {right: 36px;}
    .nav-bar button:last-child {position: absolute; top: 0; right: -8px;}

    /*footer section#copyright span {display: block; line-height: 20px;}*/

    section#promo-banner p {width: 80%;}
    .game-buttons h2 {position: absolute; margin: 27px 32px; font-size: 24px;}
    .game-buttons p {position: absolute; top: 55px; left: 32px;}
}
@media (max-width: 460px) {
    /*section#banner {background-position: top right;}*/
}
@media (min-width: 461px) {

}
@media (min-width:760px) {
    .page-content label {display: inline-block; float: left; width: 25%; margin: 7px 20px 7px 0; text-align: right; padding-right: 20px;}
    .page-content input[type=text], .page-content input[type=password], .page-content select, .page-content textarea {display: inline-block; width: 60%; margin: 7px 0;}
    label.lbl-acctno {margin: 7px 20px 50px 0;}
    .page-content .input-acctno {}
    .page-content em {width: 75%; text-align: right;}
    .form-notes {width: 80%;}
    .page-content button.btn-gold {width: 40%;}

    .transfer-form label {display: inline-block; float: left; width: 30%; text-align: right; line-height: 38px; padding-right: 20px;}
    .transfer-form select, .transfer-form input {display: inline-block; width: 48%;}
    .transfer-form button {width: 40%; margin: 0 auto;}
}
@media (min-width:760px) and (orientation: portrait) {
    /*section#banner {height: 350px;}*/
    section#signup-button {top: 100px;}
    section#signup-button p {font-size: 30px; line-height: 40px;}
    section#signup-button button.btn-signup {font-size: 24px; margin-top: 20px;}
    /*.main-nav, .main-container {bottom: -350px;}*/

    div.signup-content h1, div.signup-content .page-form {width: 95%; margin: 0 auto;}
    div.signup-content label {display: none;}
    div.signup-content label.lbl-acctno {margin: 7px 20px 50px 0;}
    div.signup-content input[type=text], div.signup-content input[type=password], div.signup-content input[type=email], div.signup-content select, div.signup-content textarea {display: block; width: 60%; margin: 7px auto;}
    div.signup-content span.txt-required {right: 124px;}
    div.signup-content em {width: 60%; text-align: right;}

    div.row-form {padding: 4px 0 6px 0;}
    section#links li {width: 96%; margin: 9px auto;}

    .game-buttons {display: inline-block; width: 49%; float: left; margin: 1px 3px 1px 3px;}

    .error {width: 76%; text-align: right;}


    .wallet-content {width: 50%; display: inline-block; float: left;}
    #transfer {width: 50%; display: inline-block; float: left;}

    .transfer-form label {width: 23%;}
    .transfer-form select, .transfer-form input {width: 74%;}
    .transfer-form button {width: 54%;}

    .game-buttons h2 {margin: 30px 36px;}
    .game-buttons p {top: 62px;}

    section#banner {background: url("../images/masthead.png") -90px top #0f0f0f no-repeat;}

    .signup-content .error {width: 59%;}

    .signup-terms-box {width: 45%; margin: 0 auto;}
}
@media (min-width:760px) and (orientation: landscape) {
    /*section#banner {height: 350px;}*/
    section#signup-button {top: 100px;}
    section#signup-button p {font-size: 30px; line-height: 40px;}
    section#signup-button button.btn-signup {font-size: 24px;}
    /*.main-nav, .main-container {bottom: -350px;}*/
    #main-categories li {font-size: 18px;}

    div.signup-content h1, div.signup-content .page-form {width: 95%; margin: 0 auto;}
    div.signup-content label {display: inline-block; float: left; width: 19%; margin: 7px 20px 7px 0; text-align: right; padding-right: 0; color: #0f0f0f;}
    div.signup-content label.lbl-acctno {margin: 7px 20px 50px 0;}
    div.signup-content input[type=text], div.signup-content input[type=password], div.signup-content input[type=email], div.signup-content select, div.signup-content textarea {display: inline-block; width: 60%; margin: 7px auto;}
    div.signup-content span.txt-required {position: relative; display: inline-block; margin: 0 0 0 10px;}
    div.signup-content em {display: inline-block; width: 18%; text-align: left;}

    div.row-form {padding: 0 0 4px 0;}

    .transfer-form select, .transfer-form input {width: 46%;}
    li.link-deposit, li.link-rules {width: 49%; margin: 4px 4px 3px 10px !important; display: inline-block !important;}
    li.link-withdraw, li.link-changepassword {width: 48%; margin: 0 !important; display: inline-block !important;}

    .game-buttons {display: inline-block; width: 49%; float: left; margin: 1px 4px 1px 5px;}
    .game-buttons:nth-child(2) {margin-right: 0;}

    .error {width: 74%; text-align: right;}

    .wallet-content {width: 50%; display: inline-block; float: left;}
    #transfer {width: 50%; display: inline-block; float: left;}

    .transfer-form label {width: 26%;}
    .transfer-form select, .transfer-form input {width: 60%;}
    .transfer-form button {width: 48%;}

    .game-buttons h2 {margin: 47px 36px;}
    .game-buttons p {top: 79px;}

    section#banner {background: url("../images/masthead2.png") #0f0f0f no-repeat;}

    .signup-content .error {width: 60%;}

    .signup-terms-box {width: 45%; margin: 0 auto;}

    .my-wallet-locked button {width: 35%;}
}
@media (max-width:760px) and (orientation: landscape) {
    .slide-content {position: absolute;}
}

/*06082015 by kat*/
@media (min-width:1152px){
    section#banner {background: url("../images/masthead2.png") #0f0f0f no-repeat; background-size: cover;}
}
/*.tab-content-1, .tab-content-2, .tab-content-3 {background-color:#000000;}*/
.nav-bar button.btn-logout {background: url("../images/icon-logout.png") 0 0;}