@font-face {
    font-family:'Sukhumvit';
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/sukhumvit-set_thin.woff") format('woff'), url("../fonts/sukhumvit-set_thin.ttf") format('ttf');
}
@font-face {
    font-family:'Sukhumvit';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/sukhumvit-set_medium.woff") format('woff'), url("../fonts/sukhumvit-set_medium.ttf") format('ttf');
}
@font-face {
    font-family:'Sukhumvit';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/sukhumvit-set_semibold.woff") format('woff'), url("../fonts/sukhumvit-set_semibold.ttf") format('ttf');
}